/* tablet.css */

body {
  margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#cntainr {
  width: initial;
  height: initial;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	clear: both;
	z-index: 1;
}

.wndow {
	padding: 0;
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
}

#bkgrnd {
	width: 980px;
	height: 9156px;
	position: absolute;
	top: 0;
  left: 0;
	z-index: 0;
}

.headr {
	width: 61.2em;
	height: 6em;
	position: absolute;
	top: 3.13em;
	display: table;
  opacity: 0;
}

.headr > span {
  width: 12em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font: 600 2.5em 'Balthazar', 'Cambria', serif;
	letter-spacing: 2px;
	color: #fff;
}

#copy {
  margin: 8.15em 0 0 17.5em;
	display: none;
	position: absolute;
  float: left;
  top: 0;
  left: 0;
	font: 400 1em 'Glegoo', 'Palatino', serif;
}

/* ---- MAIN LANDING PAGE ---- */

#bkgrnd-sctn_main {
	background-repeat: no-repeat;
}

#info {
	width: 38.6em;
	height: 15.2em;
	position: absolute;
	float: right;
  bottom: 9.2em;
  left: 12.5em;
  opacity: 0;
}

#info img {
  margin: 0 1.7em;
  padding: 1.7em;
	display: none;
  position: relative;
  float: left;
  background-color: #967348;
	opacity: 0;
}

#info ul {
  margin: 0.25em 0 0 0;
  padding: 0;
  display: none;
  position: relative;
  float: left;
	font-family: 'Balthazar', serif;
	font-size: 1.1em;
  opacity: 0;
}

#info li {
  width: 17.4em;
  height: 1.65em;
	margin: 1em 0;
  padding: 0.6em 0 0 0;
  display: none;
  text-align: center;
  color: #fbe7e9;
  background-color: #632e22;
	opacity: 0;
}

/* --- Section #1 ---------------------------------------------------------------------------------- */
.headr.sctn_1 {
	background-color: #92676c;
}

.sctn_1-blok, 
.sctn_3-blok,
.sctn_4-blok, 
.sctn_6-blok {
	width: 32.5em;
	height: initial;
	padding: 1em 2em;
	position: absolute;
	z-index: 2;
	opacity: 0;
}

.sctn_1-blok > span {
	width: 100%;
	padding-bottom: 0.25em;
	display: inline-block;
	border-bottom: 2px solid;
	font-weight: 800;
	font-size: 2.5em;
}

.sctn_1-blok > p {
	margin-bottom: 2.0em;
	text-indent: 1.3em;
	line-height: 1.8em;
  color: #58262c;
}

/*.sctn_1-blok > p ~ p {
  margin-bottom: 1.7em;
  padding-bottom: 1.5em;
  border-bottom: 3px solid;
}*/

#sctn_1-desc-1 {
	background-color: #e7d4c8;
}

#sctn_1-desc-2 {
	background-color: #e7dcc8;
	color: #6d5647;
}

#sctn_1-desc-3 {
	background-color: #dec0c3;
	color: #694448;
}

/** SECTION 2 *************************************************************************************** */

.headr.sctn_2 {
	background-color: #744725;
}

.sctn_2-blok {
	width: 26.5em;
  min-width: 320px;
	height: auto;
  margin-right: 4.5em;
	padding: 1em;
  display: inline-block;
  background-color: #d9c296;
	text-align: center;
  opacity: 0;
}

.sctn_2-blok > img {
  margin-bottom: 0.4em;
}

.sctn_2-blok > ul {
  width: 74.3%;
  margin: 0.35em auto;
  padding: 0;
  list-style-type: none;
  border-top: 3px solid #897042;
}

.sctn_2-blok > ul > li {
  margin: 0.5em;
  color: #523a0e
}

.sctn_2-blok > ul > li:first-child {
  font-weight: 600;
}

.sctn_2-blok-2 {
	width: 66.35em;
  height: auto;
  margin: 0;
  position: relative;
  top: 4em;
  left: -17.5em;
  float: left;
  clear: both;
	opacity: 0;
}

.sctn_2-blok-2 > span {
	width: 15em;
	display: block;
	padding: 1em;
	margin: 0 auto;
  background-color: #745925;
  font-size: 1.1em;
	font-weight: 600;
  text-align: center;
	color: #d9c296;
}

.sctn_2-blok-2 > span + div {
  width: 53.5em;
  height: inherit;
  margin: 0 auto;
  position: relative;
  top: 1.5em;
}

.sctn_2-blok-2 > span + div > span {
	width: 15em;
	height: 75px;
	margin-left: 2.1em;
  padding-top: 2.5em;
	display: block;
  float: left;
  text-align: center;
  font-weight: 600;
  color: #523a0e;
  background-color: #b19563;
}

.sctn_2-spcr {
  width: 0.1em;
  height: 4em;
}

/* --- SECTION 3 --- */

#bkgrnd-sctn_3 {
	background-repeat: no-repeat;
}

.headr.sctn_3 {
	background-color: #b7a68e;
}

.sctn_3-blok > span {
	width: 100%;
	display: block;
	padding-bottom: 0.1em;
	border-bottom: 2px solid;
	font-size: 2.5em;
	font-weight: 600;
}

.sctn_3-blok p {
	text-indent: 1.3em;
	line-height: 1.7em;
}

#sctn_3-desc-1 {
  background-color: #988366;
  color: #d9cdbc;
}

#sctn_3-desc-2 {
  background-color: #987566;
}

#sctn_3-desc-2 > span, 
#sctn_3-desc-2 p {
	color: #fffcfb;
}

#sctn_3-desc-3 {
  background-color: #988c66;
}

#sctn_3-desc-3 > span, 
#sctn_3-desc-3 p {
	color: #fffbee;
}

#sctn_3-desc-4 {
	background-color: #988366;
}

#sctn_3-desc-4 > span, 
#sctn_3-desc-4 p {
	color: #fff8ee;
}

/* ---- SECTION 4 ---- */

#bkgrnd-sctn_4 {
	background-repeat: no-repeat;
}

.headr.sctn_4 {
	background-color: #c8586a;
}

.sctn_4-blok p {
	text-indent: 1em;
  line-height: 1.7em;

}

.sctn_4-blok > div {
	position: absolute;
	top: -0.3em;
	left: 0.06em;
	font-size: 12em;
}

.sctn_4-blok > span {
	width: 100%;
	display: block;
	padding-top: 0.3em;
	border-top: 3px solid;
	font-size: 1.25em;
	font-weight: 800;
	text-align: right;
}

#sctn_4-desc-1 {
	background-color: #a33042;
  color: #fbdadf;
}

#sctn_4-desc-2 {
	background-color: #ffd6bc;
  color: #ac6133
}

#sctn_4-desc-2 div {
	color: #fbbc95;
}

#sctn_4-desc-2 span {
	color: #d48b5d;
}

#sctn_4-desc-3 {
  background-color: #FBBC95;
  color: #AC6133;
}

#sctn_4-desc-3 div {
  color: #FFF2DE;
}

#sctn_4-desc-3 span {
  color: #AC7F33;
}

#sctn_4-desc-4 {
  background-color: #fbd595;
  color: #AC7F33;
}

#sctn_4-desc-4 div {
  color: #FFF2DE;
}

#sctn_4-desc-4 span {
  color: #D3A75D;
}

/* ---- SECTION 5 ---- */

.headr.sctn_5 {
	background-color: #3C667B;
}

.sctn_5-blok {
	width: 28.9em;
  margin-right: 4.5em;
	padding: 1em 2em;
	position: relative;
	opacity: 0;
}

.sctn_5-blok > p {
	text-indent: 1.3em;
	line-height: 1.7em;
}

#sctn_5-desc-1 {
  float: left;
	background-color: #96C5AA;
	color: #216F43;
}

#sctn_5-desc-2 {
	width: 28.9em;
  margin-top: 2.5em;
  padding-bottom: 0;
	position: relative;
  float: left;
  background-color: #5F8395;
}

#sctn_5-desc-2 > span {
  margin: 0.1em 0 1em 0;
  display: block;
	color: #C1D1D9;
	font-size: 1.25em;
	font-weight: 600;
	text-align: center;
}

#sctn_5-desc-3 {
	background-color: none;
  float: left;
}

#sctn_5-desc-3 > span {
  width: 113px;
  height: 45px;
  padding: 1em;
  display: inline-block;
  background-repeat: no-repeat;
  background-color: #C1D1D9;
}

#sctn_5-desc-3 > span > span {
  width: 105px;
  height: 27px;
  margin-top: 0.55em;
  display: block;
  background-image: url('/amelia/assets/img/sctn/5/sprite-insrance_comps.png');
  background-position: 0px 0px;
}

#sctn_5-desc-3 > span + span > span {
  width: 105px;
  height: 20px;
  margin-top: 0.9em;
  display: block;
  background-image: url('/amelia/assets/img/sctn/5/sprite-insrance_comps.png');
  background-position: 0px -28px;
}

#sctn_5-desc-3 > span + span + span > span {
  width: 105px;
  height: 45px;
  margin-top: 0;
  display: block;
  background-image: url('/amelia/assets/img/sctn/5/sprite-insrance_comps.png');
  background-position: 0px -47px;
}

#sctn_5-desc-3 > span + span + span ~ span span {
  height: 45px;
  margin-top: 0.85em;
  text-align: center;
  background-image: none;
}

#sctn_5-desc-4 {
	float: left;
	background-color: #C1D1D9;
	color: #214D62;
}

#sctn_5-desc-4 > p {
  padding-bottom: 0.9em;
	border-bottom: 2px solid;
}

#sctn_5-desc-5 {
	background-color: #96C5AA;
	color: #408B61;
}

#sctn_5-desc-5 > span {
	display: block;
	font-size: 2em;
	font-weight: 700;
  text-align: center;
}

#sctn_5-desc-6 {
  min-height: 225px;
  margin-top: 1em;
  float: left;
  background-color: #216F43;
}

#sctn_5-desc-6 > span {
  width: 100%;
  height: 225px;
  display: table;
  float: 1em;
}

#sctn_5-desc-6 > span > span {
	display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#sctn_5-desc-6 > span > span > sup {
	position: absolute;
	top: 55px;
	font-size: 2.5em;
  color: #C8CBDF;
}

#sctn_5-desc-6 > span > span > span {
  font-size: 10em;
  letter-spacing: -10px;
  color: #fff;
}

#sctn_5-desc-6 > span > span > span + span {
  font-size: 1.5em;
  letter-spacing: 0;
  color: #96C5AA;
}

#sctn_5-desc-7 {
  min-height: 225px;
	margin-top: 1em;
  float: left;
  background-color: #C8CBDF;
	color: #2A326B;
}

#sctn_5-desc-7 > p {
	padding-bottom: 0.9em;
  font-size: 0.95em;
  border-bottom: 2px solid;
}

/* ---- SECTION 6 ---- */

.headr.sctn_6 {
	background-color: #46483b;
}

.sctn_6-blok {
  width: 28.9em;
  margin-right: 2.5em;
	padding: 1em 2em;
  position: relative;
  float: left;
	opacity: 0;
}

#sctn_6-desc-1 {
	padding: 1em 2em;
	opacity: 0;
	background-color: #a7ab92;
  color: #2A2E13;
}

#sctn_6-desc-1 > p {
  margin-bottom: 0.5em;
  padding-bottom: 1.2em;
  line-height: 1.7em;
  border-bottom: 3px solid;
}

#sctn_6-info-1 {
  width: 28.9em;
  margin-top: 2.5em;
  padding-bottom: 0;
	position: relative;
  color: #fff;
  background-color: #971b1e;
}

#sctn_6-info-1 > span {
  width: 100%;
  padding-bottom: 0.75em;
  display: table;
  background: none;
}

#sctn_6-info-1 > span > span {
  font-size: 1em;
  font-weight: 600;
  display: table-cell;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  background: none;
}

.sctn_6-blok-2 {
  width: 15.25em;
  height: 10.31em;
  margin-right: 2.5em;
  float: left;
  opacity: 0;
}

.sctn_6-blok-2 > div {
  width: 7.5em;
  margin-top: 0.75em;
  padding: 1em 1.65em;
  float: left;
  background-color: #b0ae97;
}

.sctn_6-blok-2 > div > span {
  display: block;
  line-height: 1.7em;
  color: #302e1e;
}

.sctn_6-blok-2 > span {
  padding: 1em 1.7em;
  display: block;
  font-weight: 600;
  color: #b0ae97;
  background-color: #302e1e;
}

#sctn_6-info-2 {
  width: 32.8em;
  height: 12.15em;
  margin-top: 1em;
  position: relative;
}

#sctn_6-info-2 > div {
  width: 15.75em;
}

#sctn_6-info-2 > div > div {
  width: 9.61em;
  margin: 0;
  padding: 0;
	float: left;
}

#sctn_6-info-2 > div > div > span {
  display: block;
}

#sctn_6-desc-1 > p ~ p {
  padding-bottom: 1.5em;
  border-bottom: 3px solid;
}

.sctn_6-spcr {
  width: 28.9em;
  height: 1em;
  position: relative;
  clear: both;
}

#sctn_6-desc-2 {
 padding: 1em 2em;
	margin-bottom: 20em;
	position: relative;
	background-color: #A7AB92;
	color: #2C2F1E;
}

#sctn_6-desc-2 > span {
	display: block;
	margin-bottom: 0.5em;
	border-bottom: 3px solid;
	font-size: 2.5em;
	font-weight: 600;
}

#sctn_6-desc-2 > p {
  line-height: 1.7em;
}

@media screen and (width: 980px) {
  #info {
    background-color: #977348;
    width: 61.25em;
    height: 76em;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
  }

  #info img {
    width: 480px;
    height: 455px;
    position: absolute;
    margin: 3em 14em;
    display: block;
    opacity: 1;
  }

  #info > ul {
    width: 100%;
    position: absolute;
    margin: 0;
    top: 13.5em  ;
    display: block;
    opacity: 1;
    font-size: 2.5em;
  }

  #info > ul > li {
    margin: 1em auto;
    display: block;
    opacity: 1;
  }

  .headr > span {
    font-size: 3em;
  }

  #copy {
    width: 51em;
    height: 100.7em;
    margin-left: 10.25em;
  }
  
  .sctn_2-blok {
    width: 39em;
    margin-right: 0;
  }

  .sctn_2-blok-2 {
    width: 43em;
    margin-left: 8em;
    top: 2em;
    left: 0;
  }

  .sctn_2-blok-2 > span {
    width: 8.5em;
    margin-left: 2.3em;
  }

  .sctn_2-blok-2 > span + div {
    width: 100%;
    height: 29.8em;
    top: 0;
    left: 0;
  }

  .sctn_2-blok-2 > span + div > span {
    margin: 0.25em 0;
    padding: 0.45em 0 1em 0;
    display: block;
    line-height: 1.6em;
  }

  .sctn_1-blok, 
  .sctn_2-blok-2 > span + div > span
  .sctn_3-blok,
  .sctn_4-blok,
  .sctn_5-blok,
  .sctn_6-blok,
  #sctn_5-desc-2,
  #sctn_6-info-1  {
    width: 36em;
  }

  .sctn_1-blok > p,
  .sctn_2-blok > ul, 
  .sctn_2-blok-2 > span, 
  .sctn_2-blok-2 > span + div > span, 
  .sctn_3-blok > p,
  .sctn_4-blok > p,
  .sctn_4-blok > span, 
  .sctn_5-blok > p,
  #sctn_5-desc-2 > span,
  #sctn_5-desc-7 > p,
  .sctn_6-blok > p,
  .sctn_6-blok-2 > span,
  #sctn_6-info-1 > span > span,
  .sctn_6-blok-2 > div {
    font-size: 1.75em;
  }

  .sctn_1-blok,
  .sctn_3-blok, 
  .sctn_4-blok,
  .sctn_6-blok {
    width: 36.25em;
  } 

  .sctn_4-blok > div {
    top: -0.55em;
  }

  .sctn_5-blok > p, 
  .sctn_6-blok > p, 
  .sctn_6-blok-2 > div {
    font-size: 1.5em;
  }

  #sctn_5-desc-3 > span {
    margin: 0.5em 1.35em;
    display: block;
    float: left;
  }

  .sctn_6-blok-2 {
    width: 18.8em;
    height: 20.8em;
    margin-bottom: 1.75em;
  }

  .sctn_6-blok-2 > div {
    width: 9.25em;
  }

  #sctn_6-info-2 {
    width: 40em;
    height: 19em;
  }

  #sctn_6-info-2 > div {
    width: 23.5em;
  }
}

@media screen and (width: 1024px) and (max-height: 1510px)  {
  #info {
    width: 45.6em;
    height: 17em;
    bottom: 17em;
    left: 10.5em;
  }

  #info img {
    margin: 1.7em;
  }

  #info ul {
    font-size: 1.25em;
  }

  #copy {
    height: 77.25em;
  }

  /*#wndow-sctn_main {
    width: 64em;
    height: 93.75em;
  }
*/
  .headr.sctn_1 + #copy, 
  .headr.sctn_3 + #copy, 
  .headr.sctn_4 + #copy {
    width: 50.75em;
    margin-left: 13.25em;
  }

  .headr.sctn_2 + #copy {
    width: 46.5em;
  }

  .headr.sctn_5 + #copy, 
  .headr.sctn_6 + #copy {
    width: 48.5em;
    margin-left: 15.5em;
  }

  .headr {
    width: 64em;
  }

  .sctn_1-blok > p, 
  .sctn_2-blok > ul,
  .sctn_2-blok-2 > span, 
  .sctn_3-blok > p,
  .sctn_4-blok > p, 
  #sctn_6-info-1 > span > span, 
  .sctn_6-blok-2 > span {
    font-size: 1.5em !important;
  }

  .sctn_5-blok > p, 
  .sctn_6-blok > p, 
  .sctn_6-blok-2 > div {
    font-size: 1.25em !important;
  }
  
  .sctn_2-blok-2 {
    width: 64em;
  }

  .sctn_2-blok-2 > span + div > span {
    padding-top: 1em;
  }

  .sctn_4-blok > div {
    top: -0.6em;
  }

  #sctn_5-desc-3 > span {
    width: 119px;
  }

  #sctn_5-desc-3 > span > span {
    margin: 0.5em 0.6em 0 0.25em;
  }

  #sctn_5-desc-3 > span + span + span ~ span span {
    margin-top: 0.55em;
  }

  #sctn_6-info-1 {
    margin: 2.5em 0 1.5em 0;
  }

  #sctn_6-info-1 > span {
    padding-bottom: 1em;
  }

  #sctn_6-info-2 > div {
    width: 23em;
  }

  .sctn_6-blok-2 {
    width: 15.25em;
    height: 20.3em;
    margin-bottom: 0;
  }

  #sctn_6-info-2 {
    width: 33em;
    height: 16em;
  }

  .sctn_6-blok-2 > div {
    width: 9em;
  }
}

@media screen and (width: 980px) and (max-height: 1310px) {
  #info {
    height: 72em;
  }
  
  #copy {
    width: 51em;
    height: 73.7em;
    margin-left: 10.25em;
  }

 /* .headr.sctn_2 > .copy:first-of-type {
    width: 54.25em;
    margin-left: 13.75em;
  }*/

  .sctn_1-blok, 
  .sctn_3-blok, 
  .sctn_4-blok,
  .sctn_5-blok,
  .sctn_6-blok,
  #sctn_5-desc-2,
  #sctn_6-info-1 {
    width: 36em;
  }

  .sctn_1-blok > p, 
  .sctn_2-blok > ul,
  .sctn_2-blok-2 > span, 
  .sctn_3-blok > p,
  .sctn_4-blok > p, 
  .sctn_5-blok > p, 
  .sctn_6-blok > p,
  #sctn_6-info-1 > span > span, 
  .sctn_6-blok-2 > span,
  .sctn_6-blok-2 > div {
    font-size: 1.5em !important;
  }

  .sctn_5-blok > p, 
  .sctn_6-blok > p, 
  .sctn_6-blok-2 > div {
    font-size: 1.25em !important;
  }

  .sctn_2-blok > ul > li {
    margin: 0.25em;
  }

  .sctn_2-spcr {
    width: 41.1em;
    height: 2em;
  }
  
  .sctn_2-blok-2 {
    margin-left: 0;
    top: 1em;
  }

  .sctn_2-blok-2 > span {
    margin-left: 8.5em;
  }

  .sctn_2-blok-2 > span + div {
    top: 1em;
  }

  .sctn_2-blok-2 > span + div > span {
    width: 8.2em;
    height: 8em;
    margin: 0.25em 1.25em 0.25em 0em;
    padding: 1em;
    font-size: 1.25em;
  }

  .sctn_6-blok-2 {
    width: 19em;
    height: 20.3em;
    margin-bottom: 0;
  }

  .sctn_6-blok-2 > div {
    width: 12em;
  }

  #sctn_6-info-2 {
    width: 40em;
    height: 16em;
  }

  #sctn_6-info-2 > div {
    width: 28.75em;
  }
}

@media screen and (min-width: 1260px) and (max-width: 1320px) {
  #cntainr {
    width: 1280px;
  }

  .headr {
    width: 80.2em;
  }

  .copy {
    margin-left: 27.9em
  }

  #info {
    width: 19.2em;
    height: 27.2em;
    bottom: 5.5em;
    left: 5.5em;
  }

  .headr.sctn_1 + #copy,
  .headr.sctn_2 + #copy,
  .headr.sctn_5 + #copy,
  .headr.sctn_6 + #copy {
    width: 76.25em;
    margin-left: 11.5em;
  }

  .headr.sctn_3 + #copy,
  .headr.sctn_4 + #copy {
    width: 58.25em;
    margin-left: 27.75em;
  }

  #sctn_1-desc-1 {
    left: 18.4em;
  }

  #sctn_1-desc-2 {
    left: 0em;
  }

  #sctn_1-desc-3 {
    left: 36.25em !important;
  }

  .sctn_2-spcr {
    display: inline-block;
  }

  .sctn_2-blok-2 {
    width: 71em;
    height: 13.45em;
    left: 0;
  }

  #sctn_6-info-2 > div {
    width: 29.75em;
  }

  .sctn_6-spcr {
    width: 35.5em;
    height: 1.35em;
    float: left;
    clear: none;
  }

  .sctn_6-blok-2 > div {
    width: 12em;
  }

}

@media screen and (min-width: 1260px) and (min-height: 980) {
  #info {
    height: 28.1em;
    bottom: 12.5em;
  }
}

@media screen and (min-width: 1340px) and (max-width: 1890px) {
  #cntnr {
    width: 85.38em;
  }

  #bkgrnd {
    width: 85.38em;
  }

  .headr {
    width: 85.38em;
  }

  #copy {
    height: 39.85em;
    font-size: 0.95em;
  }

  #info {
    width: 19.5em;
    height: 27.2em;
    bottom: 8.75em;
    left: 8.75em;
  }

  .headr.sctn_1 + #copy {
    width: 79em !important;
    margin-left: 9.75em;
  }

  .headr.sctn_2 + #copy {
    width: 75.5em !important;
    margin-left: 13.25em;
  }

  .headr.sctn_3 + #copy, 
  .headr.sctn_4 + #copy {
    width: 62.5em !important;
    margin-left: 26.5em;
  }

  .headr.sctn_5 + #copy {
    width: 79.5em !important;
    margin-left: 9.25em;
  }

  .headr.sctn_6 + #copy {
    width: 78.5em !important;
    margin-left: 10.25em;
  }
  
  #sctn_1-desc-1 {
    left: 17em;
  }

  .sctn_2-spcr {
    display: inline-block;
  }

  .sctn_2-blok-2 {
    width: 62.25em;
    height: 13.45em;
    left: 0;
  }

  .sctn_2-blok-2 > span + div > span {
    padding-top: 1.75em;
  }

  .sctn_4-blok > div {
    top: -0.59em;
  }

  .sctn_6-blok-2 {
    height: 12em !important;
    margin-bottom: 1em;
  }

  .sctn_6-blok-2 > div {
    width: 12.05em !important;
  }

  #sctn_6-info-2 > div {
    width: 29.75em !important;
  }

  .sctn_6-spcr {
    width: 72em;
    height: 0.8em;
    float: left;
    clear: none;
  }
}

@media screen and (min-width: 1910px) {
  .headr {
    width: 120em;
  }

  #copy {
    width: 121.8em !important;
    height: 59.35em;
    margin-left: 11.5em;
  }
  
  .headr.sctn_2 + #copy {
    width: 93.2em !important;
    margin-left: 25.75em;
  }

  .headr.sctn_3 + #copy , 
  .headr.sctn_4 + #copy {
    width: 79.2em !important;
    margin-left: 39.75em;
  }

  .headr.sctn_5 + #copy {
    width: 98.5em !important;
    margin-left: 20.5em;
  }  
  
  .headr.sctn_6 + #copy {
    width: 97em !important;
    margin-left: 22em;
  }

  .sctn_1-blok, 
  .sctn_2-blok, 
  .sctn_2-blok-2, 
  .sctn_3-blok,
  .sctn_4-blok,
  .sctn_5-blok > p, 
  #sctn_5-desc-3 > span + span + span ~ span span, 
  #sctn_6-desc-1 > p, 
  .sctn_6-blok-2 > span {
    font-size: 1.1em;
  }

  .sctn_1-blok, 
  .sctn_3-blok, 
  .sctn_4-blok {
    position: relative;
  }

  .sctn_1-blok {
    left: 31.75em !important;
  }

  .sctn_3-blok, 
  .sctn_4-blok {
    left: 0 !important;
  }
  
  #sctn_1-desc-1  {
    left: 25.75em !important;
    position: absolute;
  }

  #sctn_1-desc-2 {
    left: 0 !important;
  }

  #sctn_1-desc-3 {
    left: 25.5em !important;
  }

  .sctn_2-spcr {
    display: inline-block;
  }

  .sctn_2-blok-2 {
    width: 62em;
    height: 13.1em;
    left: 0;
  }

  .sctn_2-blok-2 > span + div {
    width: 61.25em;
  }

  .sctn_2-blok-2 > span > div {
    width: 81.8em;
    height: inherit;
  }

  .sctn_2-blok-2 > span + div > span:first-of-type {
    margin-left: 0;
  }

  .sctn_2-blok-2 > span + div > span {
    padding: 2em 2em 1.1em 2em;
  }
  
  .sctn_3-blok, 
  .sctn_4-blok, 
  .sctn_5-blok,
  #sctn_5-desc-2,  
  .sctn_6-blok,
  .sctn_6-blok-2 {
    width: 32.5em;
  }
  
  .sctn_3-blok > span {
    font-size: 2em;
  }
  
  .sctn_4-blok div {
    top: -0.6em !important;
  }

  #sctn_5-desc-3 > span {
    padding: 1.67em;
  }

  #sctn_5-desc-3 > span + span + span ~ span span {
    margin-top: 0.6em;
  }

  .sctn_6-blok {
    margin-right: 4.5em;
  }

  #sctn_6-desc-1 > p {
    line-height: 1.8em;
  }

  .sctn_6-spcr {
    width: 36.5em;
  }

  .sctn_6-blok-2 {
    width: 17em;
  }

  .sctn_6-blok-2 > div {
    width: 13.75em;
  }

  #sctn_6-info-1 {
    width: 28.8em;
    left: 41em;
    clear: both;
  }

  #sctn_6-info-1 > span {
    width: 24em;
    margin: 0 auto;
  }

  #sctn_6-info-1 > span > span {
    font-size: 1.25em;
  }

  #sctn_6-info-2 > div {
    width: 29.5em;
    margin-top: 10em;
    left: 3.7em;
  }
}

html[data-useragent*='Windows NT 6.3'] .sctn_4-blok > div {
  top: -0.6em;
}