/* forms.css */
/*
input:hover + label, input:focus + label,
input + label:hover, input:focus + label			{ text-shadow: 1px 1px 3px #000; color: #2C7AD0; }
*/

fieldset {
	width: 80%;
	margin: 1em;
	padding: 1em;
}	

fieldset p {
	display: block;
	height: 22px;
}

label + p,
input + p {
	margin-top: 20px;
}

p > input {
	padding: 0;
	margin: 0;
	height: 16px;
	width: 16px;
	float: left;
	left: 0;
	opacity: 0;
}

p > label { 
	line-height: 20px; 
	padding-left: 5px;
}

p:not(#foo) > input + label {
	background: url('/test/amelia/assets/img/form/form.png') 0 25px no-repeat;
	height: 25px;
}

p:not(#foo) > input[type=radio] + label,
p:not(#foo) > input[type=checkbox] + label { 
	display: block;
	position: absolute;
	background-position: 0 0;
}

/* Checked styles */
p:not(#foo) > input[type=radio]:checked + label { 
	background-position: 0 51px; 
}

p:not(#foo) > input[type=checkbox]:checked + label { 
	position: absolute;
	background-position: 0 0;
}

p:not(#foo) > input[type=checkbox]:hover:checked + label,
p:not(#foo) > input[type=checkbox]:focus:checked + label,
p:not(#foo) > input[type=checkbox]:checked + label:hover,
p:not(#foo) > input[type=checkbox]:focus:checked + label { 
	background-position: 0 51px;
}

p:not(#foo) > input[type=radio]:hover:checked + label,
p:not(#foo) > input[type=radio]:focus:checked + label,
p:not(#foo) > input[type=radio]:checked + label:hover,
p:not(#foo) > input[type=radio]:focus:checked + label { 
	background-position: 0 51px;
}

/* Hover & Focus styles */
p:not(#foo) > input[type=checkbox]:hover + label,
p:not(#foo) > input[type=checkbox]:focus + label,
p:not(#foo) > input[type=checkbox] + label:hover { 
	background-position: 0 26px; 
}

p:not(#foo) > input[type=radio]:hover + label,
p:not(#foo) > input[type=radio]:focus + label,
p:not(#foo) > input[type=radio] + label:hover { 
	background-position: 0 26px;
}

/* Active styles */
p:not(#foo) > input[type=checkbox]:active + label,
p:not(#foo) > input[type=checkbox] + label:hover:active { 
	background-position: 0 -41px;
}

p:not(#foo) > input[type=radio]:active + label,
p:not(#foo) > input[type=radio] + label:hover:active { 
	background-position: 0 -201px;
}

p:not(#foo) > input[type=checkbox]:active:checked + label,
p:not(#foo) > input[type=checkbox]:checked + label:hover:active { 
	background-position: 0 -121px;
}

p:not(#foo) > input[type=radio]:active:checked + label,
p:not(#foo) > input[type=radio]:checked + label:hover:active { 
	background-position: 0 -281px;
}

