#qstnair {
	position: absolute;
	top: 150px;
	left: 150px;
}

#form-cntct_info {
	width: 77%;
	height: inherit;
	position: relative;
	margin: 0 auto;
}

.clmn {
	width: 50%;
	height: auto;
	float: left;
	margin: 0 auto;	
}

.qstn,
.cntct_info {
	width: 27em;
	height: auto;
	padding: 1.5em;
	margin: 2em;
	background-color: #fff;
	font: 400 0.95em "Glegoo", "Palatino", serif;
}

.qstn span,
.cntct_info span{
	display: inline-block;
	margin-bottom: 0.5em;
}

.qstn span + span {
	font-size: 1.1em;
	font-weight: 600;
	line-height: 1.3em;
}

.quiz-spcr {
	width: 100%;
	height: 2px;
	margin: 0.8em auto;
	background-color: #ccc;
}

.qstn fieldset div span,
.cntct_info fieldset div span {
	position: relative;
	top: -10px;
	font: 400 1.3em "Franklin Gothic Medium", sans-serif;
}

.qstn fieldset div span + span,
.cntct_info fieldset div span + span {
	left: -13px;
}

.qstn p,
.cntct_info p {
	display: block;
	position: relative;
	overflow: visible;
	line-height: 1.8em;
	text-indent: 2em;
}

.qstn sup {
	font-size: 0.8em;
}

.qstn .ftnote {
	padding: 0.7em;
	background-color: #cfd7a3;
	font-size: 0.9em;
	line-height: 1.6em;
}

#quiz-bttn {
	width: 100%;
	height: 50px;
	margin-bottom: 0.7em;
}

#quiz-start {
	margin-right: 1.3em;
	position: relative;
	float: right;
}

#quiz-next {
	position: relative;
	right: -62%;
}

#quiz-prev {
	position: relative;
	left: 8.6em;
}

#quiz-sbmt {
	position: relative;
	left: 7.9em;
}

#submit-cntct {
	margin: 0;
	margin-right: 4.6em;
	float: right;
}

fieldset {
	margin: 1em;
}

label + p,
input + p {
	margin-top: 20px;
}

input[type=text],
input[type=email],
input[type=number],
textarea {
	padding: 0.5em;
	border: 2px solid #bbb;
	font: 400 1.3em "Franklin Gothic Medium", sans-serif;
	letter-spacing: 1px;
}

input[type=radio],
input[type=checkbox] {
	border: 0;
	width: 100%;
	height: 1.6em;
}

input[type=range] {
	margin: 0.9em auto 0.1em auto;
	color: #221763;
}

select {
	font: 400 1.3em "Franklin Gothic Medium";
	width: 150px;
	margin: 0.7em auto 0.5em auto;
	display: block;
}

p > input {
	padding: 0;
	margin: 0;
	height: 16px;
	width: 16px;
	float: left;
	position: absolute;
	left: 0;
	opacity: 0;
}

p > label { 
	line-height: 20px; 
	padding-left: 5px;
}

p:not(#foo) > input + label {
	background: url('/amelia/assets/img/form/form.png') 0 -1px no-repeat;
	height: 25px;
	font: 400 1.3em "Franklin Gothic Medium", sans-serif;
}

p:not(#foo) > input[type=radio] + label { 
	display: block;
	font-weight: normal;
	color: #000;
	background-position: 0 0;
}

p:not(#foo) > input[type=checkbox] + label {
	display: block;
	font-weight: normal;
	color: #000;
	background-position: 0 -103px;
}

/* Checked styles */
p:not(#foo) > input[type=radio]:checked + label { 
	background-position: 0 -79px;
	font-weight: bold;
	color: #221763;
}

p:not(#foo) > input[type=checkbox]:checked + label { 
	background-position: 0 -178px;
	font-weight: bold;
	color: #221763;
}

p:not(#foo) > input[type=checkbox]:hover:checked + label,
p:not(#foo) > input[type=checkbox]:focus:checked + label,
p:not(#foo) > input[type=checkbox]:checked + label:hover,
p:not(#foo) > input[type=checkbox]:focus:checked + label { 
	background-position: 0 -178px;
	font-weight: bold;
	color: #221763;
}

p:not(#foo) > input[type=radio]:hover:checked + label,
p:not(#foo) > input[type=radio]:focus:checked + label,
p:not(#foo) > input[type=radio]:checked + label:hover,
p:not(#foo) > input[type=radio]:focus:checked + label { 
	background-position: 0 -79px;
	font-weight: 500;
	color: #221763;
}

/* Hover & Focus styles */
p:not(#foo) > input[type=checkbox]:hover + label,
p:not(#foo) > input[type=checkbox]:focus + label,
p:not(#foo) > input[type=checkbox] + label:hover { 
	background-position: 0 -128px;
	font-weight: bold;
	color: #000;
}

p:not(#foo) > input[type=radio]:hover + label,
p:not(#foo) > input[type=radio]:focus + label,
p:not(#foo) > input[type=radio] + label:hover { 
	background-position: 0 -26px;
	font-weight: bold;
	color: #000;
}

/* Active styles */
p:not(#foo) > input[type=checkbox]:active + label,
p:not(#foo) > input[type=checkbox] + label:hover:active { 
	background-position: 0 -153px;
	font-weight: normal;
	
}

p:not(#foo) > input[type=radio]:active + label,
p:not(#foo) > input[type=radio] + label:hover:active { 
	background-position: 0 -53px;
}

p:not(#foo) > input[type=checkbox]:active:checked + label,
p:not(#foo) > input[type=checkbox]:checked + label:hover:active { 
	background-position: 0 -153px;
	font-weight: normal;
}

fieldset > div {
	margin: 0 auto;
	width: 262px;
}

input[type=button],
input[type=submit] {
	width: 125px;
	height: 50px;
	margin: 0.35em 0 0 1.4em;
	background-color: #40BDE8;
	font: 400 1.25em "Franklin Gothic Medium", sans-serif;
	color: #221763;
	border: 2px solid #369DBF;
	cursor: pointer;
}

input[type=button]:hover,
input[type=submit]:hover {
	background-color: #33CCFF;
}

div#rates-button {
	position: absolute;
	right: 7.1em;
}

#sctn_5-bttn,
input#rquest-cnsltatn {
	width: auto;
	height: 50px;
	display: block;
	margin: 1em auto 0 auto;
	background-color: #40BDE8;
	font: 400 1.25em "Franklin Gothic Medium", sans-serif;
	color: #221763;
	border: 2px solid #369DBF;
	cursor: pointer;
}

#sctn_5-bttn,
input#rquest-cnsltatn:hover {
	background-color: #33CCFF;
}

#sctn_5-bttn {
	display: initial;
	margin: 0.4em 0 0 1.4em;
}