/* main.css */

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#cntainr {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0; 
	left: 0;
	clear: both;
}

#bkgrnd {
	width: 1540px;
	height: 100%;
	position: absolute;
	top: 0;
	left: -260px;
	z-index: -1;
}

#main-bkgrnd {
	width: 1280px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 260px;
	background: url("/amelia/assets/img/land/1280x800.jpg") 0 0 no-repeat;
}

#info {
	width: 285px;
	height: 430px;
	position: absolute;
	top: 125px;
	left: 745px;
	background-color: #75827D;
	opacity: 0.6;	
}

#info img {
	margin: 25px auto 0 auto;
	display: block;	
}

#info #spcr {
	margin: 10px auto;
}

#info ul {
	font-family: 'Balthazar', serif;
	font-size: 1.1em;
	color: #fff;
	margin: 20px 20px 0 0;
}

#info li {
	list-style-image: url('/amelia/assets/img/spcr/dot_10x10.png');
}

#info span {
	margin-bottom: 15px;
	display: block;
}

/* --- FOR ALL SECTIONS --- */

.page_bkgrnd {
	width: 1280px;
	height: auto;
	position: absolute;
	top: 0;
	left: 260px;
	z-index: -1;
}

.headr {
	width: 100%;
	height: 65px;
	padding: 30px 0 0 125px;
	position: absolute;
	top: 100px;
	left: 0;
	display: block;
	font: 600 2em 'Balthazar', 'Cambria', serif;
	letter-spacing: 2px;
	color: #fff;
}

#copy {
	width: inherit;
	height: inherit;
	font: 400 0.9em 'Glegoo', 'Palatino', serif;
}

/* --- Section #1 ---------------------------------------------------------------------------------- */

#bkgrnd-sctn_1 > div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/1/land/bg-1.jpg');
}

#bkgrnd-sctn_1 > div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/1/land/bg-2.jpg');
}

#bkgrnd-sctn_1 > div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/1/land/bg-3.jpg');
}

#bkgrnd-sctn_1 > div + div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/1/land/bg-4.jpg');
}

#bkgrnd-sctn_1a > div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/1/a/bg-1.jpg');
}

#bkgrnd-sctn_1a > div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/1/a/bg-2.jpg');
}

#bkgrnd-sctn_1a > div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/1/a/bg-3.jpg');
}

#bkgrnd-sctn_1a > div + div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/1/a/bg-4.jpg');
}

#bkgrnd-sctn_1b > div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/1/b/bg-1.jpg');
}

#bkgrnd-sctn_1b > div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/1/b/bg-2.jpg');
}

#bkgrnd-sctn_1b > div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/1/b/bg-3.jpg');
}

#bkgrnd-sctn_1b > div + div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/1/b/bg-4.jpg');
}

#bkgrnd-sctn_1c > div {
	width: 100%;
	height: 235px;
	background-image: url('/amelia/assets/img/sect/1/c/bg-1.jpg');
}

#bkgrnd-sctn_1c > div + div {
	width: 100%;
	height: 235px;
	background-image: url('/amelia/assets/img/sect/1/c/bg-2.jpg');
}

#bkgrnd-sctn_1c > div + div + div {
	width: 100%;
	height: 235px;
	background-image: url('/amelia/assets/img/sect/1/c/bg-3.jpg');
}

#bkgrnd-sctn_1c > div + div + div + div {
	width: 100%;
	height: 235px;
	background-image: url('/amelia/assets/img/sect/1/c/bg-4.jpg');
}

.headr.sctn_1 {
	background-color: #476b3f;
}

.blok-txt {
	width: 25%;
	height: auto;
	margin: 0 auto;
	padding: 2.0em;
	position: absolute;
	top: 350px;
	left: 55%;
	z-index: 2;
	font-size: 0.9em;
}

.blok-txt span {
	width: 100%;
	padding-bottom: 0.25em;
	display: inline-block;
	border-bottom: 2px solid;
	font-weight: 800;
	font-size: 2.5em;
	text-indent: 0.25em;
}

.blok-txt p {
	margin-bottom: 2.0em;
	text-indent: 1.0em;
	line-height: 1.85em;
	
}

#yes {
	top: 175px;
	left: 125px;
	background-color: #9e7a75;
	color: #f0c7ab;
}

#no {
	top: 175px;
	left: 750px;
	background-color: #9a633f;
	border: 5px solid #64300a;
	color: #f0f2ee;
}

.sctn_1-desc {
	width: 25%;
	position: absolute;
	margin: 25px;
	padding: 5px 5px 17px 5px;
	top: 150px;
	left: 125px;
	background-color: #d2e6db;
	font: 400 0.95em 'Glegoo', 'Palatino', serif;
}

.sctn_1-desc p {
	margin: 10px 17px;
	text-indent: 2em;
	line-height: 1.75em	
}

/** SECTION 2 *************************************************************************************** */

#bkgrnd-sctn_2 > div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/2/bg-1.jpg');
}

#bkgrnd-sctn_2 > div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/2/bg-2.jpg');
}

#bkgrnd-sctn_2 > div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/2/bg-3.jpg');
}

#bkgrnd-sctn_2 > div + div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/2/bg-4.jpg');
}

.headr.sctn_2 {
	background-color: #8e5a54;
}

.sctn_2-blok {
	width: 370px;
	height: 185px;;
	position: absolute;
	top: 150px;
	margin: 25px;
	padding: 17px;
	background-color: #dce6f0;
	font: 400 0.95em "Glegoo", "Palatino", serif;
	text-align: center;
}

.sctn_2-blok-desc {
	width: 370px;
	height: inherit;
	position: absolute;
	top: 10px;
	margin: 0 auto;
}

.sctn_2-blok > span {
	width: 370px;
	height: auto;
	margin: 0 auto;
	padding-top: 10px;
	position: absolute;
	display: block;
	top: 105px;
	left: 0;
	border-top: 3px solid #748445;
	font-weight: 600;
	color: #52652d;
}

.sctn_2-blok-desc > span + span {
	top: 135px;
	border: none;
	font-weight: 400;
	font-size: 1.15em;
	color: #000;
}

.sctn_2-blok-desc > span + span + span {
	top: 165px;
	border: none;
	font-size: 0.95em;
	color: #000;
}

#undergd {
	left: 150px;
}

#grad {
	left: 640px;
}

.sctn_2-blok_2 {
	width: 800px;
	height: 110px;
	position: absolute;
	top: 450px;
	left: 225px;
	background-color: #91c5fe;
	font: 400 0.95em "Glegoo", "Palatino", serif;
}

.sctn_2-blok_2 > span {
	width: 745px;
	display: block;
	padding: 10px;
	margin: 0 20px;
	border-bottom: 3px solid #dce6f0;
	font-size: 0.95em;
	font-weight: 600;
	color: #fff;
}

.sctn_2-blok_2 > div {
	width: 25%;
	height: 40px;
	margin: 10px 20px 10px 30px;
	display: inline-block;
}

.sctn_2-blok_2 > div > span {
	font-size: 0.8em;
	font-weight: 600;
}

/* --- SECTION 3 --- */

#bkgrnd-sctn_3 > div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/3/1/bg-1.jpg');
}

#bkgrnd-sctn_3 > div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/3/1/bg-2.jpg');
}

#bkgrnd-sctn_3 > div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/3/1/bg-3.jpg');
}

#bkgrnd-sctn_3 > div + div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/3/1/bg-4.jpg');
}

#bkgrnd-sctn_3a > div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/3/2/bg-1.jpg');
}

#bkgrnd-sctn_3a > div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/3/2/bg-2.jpg');
}

#bkgrnd-sctn_3a > div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/3/2/bg-3.jpg');
}

#bkgrnd-sctn_3a > div + div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/3/2/bg-4.jpg');
}

#bkgrnd-sctn_3b > div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/3/3/bg-1.jpg');
}

#bkgrnd-sctn_3b > div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/3/3/bg-2.jpg');
}

#bkgrnd-sctn_3b > div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/3/3/bg-3.jpg');
}

#bkgrnd-sctn_3b > div + div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/3/3/bg-4.jpg');
}

#bkgrnd-sctn_3b > div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/3/4/bg-1.jpg');
}

#bkgrnd-sctn_3b > div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/3/4/bg-2.jpg');
}

#bkgrnd-sctn_3c > div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/3/4/bg-3.jpg');
}

#bkgrnd-sctn_3c > div + div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/3/4/bg-4.jpg');
}

.headr.sctn_3 {
	background-color: #937da3;
}

div.block-desc {
	width: 25%;
	position: absolute;
	top: 175px;
	margin: 25px;
	padding: 1em 2em;
	font: 400 0.95em "Glegoo", "Palatino", serif;
}

div#main-splties {
	left: 750px;
	background-color: #253449;
	border: 5px solid #b7c6c1;
}

div.block-desc p {
	font-size: 0.95em;
	text-indent: 1.3em;
	line-height: 1.5em;
}

div#main-splties p {
	color: #d9e1ee;
}

div#main-splties > p:first-line {
	font-weight: 600;
}

div#main-splties > p + p:first-line {
	font-weight: 400;
}

div#grief {
	left: 125px;
	background-color: #3d3230;
	border: 5px solid #bd9e8c;
}

div#trauma {
	left: 750px;
	background-color: #42424c;
	border: 5px solid #898f85;
}

div#deprsn {
	left: 125px;
	background-color: #37403b;
	border: 5px solid #f7f7f7;
}

div.block-desc > span {
	width: 100%;
	display: block;
	margin: 7px 0;
	padding-bottom: 9px;
	border-bottom: 2px solid;
	font-size: 2.5em;
	font-weight: 600;	
}

div#grief > span {
	color: #ebebe9;
}

div#grief p {
	color: #ebebe9;
}

div#trauma > span {
	color: #ececec;
}

div#trauma p {
	color: #ececec;
}

div#deprsn > span {
	color: #f0eceb;
}

div#deprsn p {
	color: #f0eceb;
}

div.nav-section {
	width: 735px;
	height: 135px;
	position: relative;
	top: 630px;
	margin: 0 auto;
}

div.nav-section span {
	width: 150px;
	height: 35px;
	display: block;
	position: absolute;
	left: 38%;
	margin: 15px;
	background: url('/amelia/assets/img/menu/nav-section/sect_3.png') 0 0 no-repeat;
	background-color: #000;
	color: #fff;
	cursor: auto;	
} 

div.nav-section span:hover {
	background-position: 0 -35px;
	cursor: pointer;
} 

div.nav-section span:active {
	background-position: 0 -70px;
	cursor: pointer;
} 

div.nav-section div {
	height: 80px;
	position: absolute;
	top: 55px;
	visibility: hidden;
}

.nav-sect_3 div {
	width: 555px;
	left: 12.5%;
}

.nav-sub-sect_3 div {
	width: 740px;
}

div.nav-section div a {
	width: 150px;
	height: 22px;
	display: block;
	float: left;
	margin: 15px;
	padding: 3px 0 6px 0;
	background-color: #000;
	border: 2px solid #222;
	font: 400 1.25em "Franklin Gothic Medium", sans-serif;
	color: #fff;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	cursor: pointer; 
}

div.nav-section div a:hover {
	background-color: #333;
}