BODY {
	margin: 0;
	padding: 0;
}

DIV#container {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

DIV#menu {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 30px;
	left: 30px;
}

DIV#land {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: url("/test/amelia/assets/img/land/1280x800.jpg") 0 0 no-repeat;
	clear: both;
}
