/* menu.css */
div#menu {
	width: 260px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#links > a {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 25px;
	left: 25px;
	background-image: url('/amelia/assets/img/menu/menu.png');
	background-repeat: no-repeat;
}

.menu-base {
	 background-position: 0 0;
}

.menu-hover {
	background-position: 0 -50px;
}

.menu-click_1 {
	background-position: 0 -100px;
}

.menu-click_2 {
	background-position: 0 -150px;
}

#menu-bkgrnd {
	width: 100%;
	height: 100%;
	background-color: #666;
	display: none;
}

#options {
	width: 210px;
	height: 550px;
	position: absolute;
	top: 75px;
	left: 25px;
	display: none;
}

div#options > span {
	background-color: #000;
	color: #fff;
	cursor: pointer;
}

div#menu span {
	width: 190px;
	height: 50px;
	margin: 10px 10px 10px 0;
	padding: 10px;
	display: block;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#next-section {
	width: 88px;
	height: 31px;
	position: absolute;
	right: 10px;
	bottom: 31px;
	font: 600 0.8em "Franklin Gothic Medium", sans-serif;
	color: #fff;	
	line-height: 1.25em;
	text-align: center;
}

div#next-section:hover {
	cursor: pointer;
}