/* menu.css */
#menu {
	width: 260px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

#menu-link {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 25px;
	left: 25px;
	background-image: url('/amelia/assets/img/menu/menu.png');
	background-repeat: no-repeat;
}

.menu-base {
	background-position: 0 0;
}

.menu-hover {
	background-position: 0 -50px;
}

.menu-click_1 {
	background-position: 0 -100px;
}

.menu-click_2 {
	background-position: 0 -150px;
}

.menu-bkgrnd {
	width: 260px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #666;
}

.menu-brdr {
	width: 260px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #444;
}

#options {
	width: 210px;
	height: 550px;
	display: none;
	position: absolute;
	top: 105px;
	left: 25px;
	opacity: 0;
}

.options_main {
	top: 75px;
}

.option-hover {
	background-color: #808080;
	color: #fff;
	cursor: pointer;
}

.option-click {
	background-color: #A6A6A6;
	color: #000;
}

#options > span {
	width: 190px;
	height: 50px;
	margin: 10px 10px 10px 0;
	padding: 10px;
	display: block;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: #000;
	color: #fff;
	cursor: pointer;
}

#next-sctn {
	width: 80px;
	height: 70px;
	position: fixed;
	right: 25px;
	bottom: 25px;
	background: url('/amelia/assets/img/menu/next/next-sctn.png') 0 0 no-repeat;
}

#next-sctn > span {
	width: 79px;
	height: 50px;
	margin-bottom: 50px;
	display: block;
	font: 400 0.8em 'Franklin Gothic Medium', sans-serif;
	color: #fff;	
	text-align: center;
	line-height: 1.25em;
	letter-spacing: 1px;
}

div.sctn_nav {
	width: 100%;
	height: 135px;
	position: absolute;
	top: 630px;
}

#menu-sctn_6.sub_menu {
	position: relative;
	top: 150px;
}

div.sctn_nav > div {
	width: 740px;
	height: inherit;
	margin: 0 auto;
}

#menu-sctn_6 > div {
	width: 375px;
}

#menu-sctn_6.sub_menu > div {
	width: 552px;
}

div.sctn_nav > div > span {
	width: 150px;
	height: 35px;
	display: block;
	position: relative;
	margin: 0 auto;
	background-position: 0px 0px;
	color: #fff;
	cursor: auto;	
} 

#menu-sctn_3 > div > span {
	background-image: url('/amelia/assets/img/menu/sctn_nav/sctn_3.png');
}

#menu-sctn_4 > div > span {
	background-image: url('/amelia/assets/img/menu/sctn_nav/sctn_4.png');
}

#menu-sctn_6 > div > span {
	background-image: url('/amelia/assets/img/menu/sctn_nav/sctn_6.png');
}

div.sctn_nav > div > span.base-sctn_nav {
	background-position: 0px 0px;
	cursor: default;
	opacity: 1;
}

div.sctn_nav > div > span.hover-sctn_nav {
	background-position: 0px -35px;
	cursor: pointer;
	opacity: 1;
}

div.sctn_nav > div > span.active-sctn_nav {
	background-position: 0px -70px;
	cursor: pointer;
	opacity: 1;
}

div.sctn_nav > div > span.click-sctn_nav {
	background-position: 0px -105px;
	cursor: pointer;
	opacity: 1;
}

div.sctn_nav > div > div {
	width: 552px;
	height: 80px;
	display: none;
	margin: 0 auto;
}

div.sctn_nav.sub_menu > div > div {
	width: 740px;
	margin: 0 auto;
	left: 0;
}
/*
.nav-sub-sctn > div > div {
	width: 740px;
}*/

div.sctn_nav > div > div > a {
	width: 150px;
	height: 22px;
	display: block;
	float: left;
	margin: 15px;
	padding: 3px 0 6px 0;
	background-color: #000;
	border: 2px solid #222;
	font: 400 1.25em "Franklin Gothic Medium", sans-serif;
	color: #fff;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	cursor: pointer; 
}

div.sctn_nav > div > div a:hover {
	background-color: #333;
}