/* --- Section #1 ---------------------------------------------------------------------------------- */
body {
	margin: 0;
	padding: 0;
}

div#container {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	clear: both;
	z-index: 1;
}

div#logo {
	position: absolute;
	top: 12px;
	left: 450px;
	float: left;
}

div#pg_bkgrnd {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	clear: both;
	z-index: -2;
}

#pg_bkgrnd .bg_1 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/1/bg-b-1.jpg');
}

#pg_bkgrnd .bg_2 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/1/bg-b-2.jpg');
}

#pg_bkgrnd .bg_3 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/1/bg-b-3.jpg');
}

#pg_bkgrnd .bg_4 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/1/bg-b-4.jpg');
}

#pg_bkgrnd-question_1 .bg_1 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/1/qstn/1/bg-1.jpg');
}

#pg_bkgrnd-question_1 .bg_2 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/1/qstn/1/bg-2.jpg');
}

#pg_bkgrnd-question_1 .bg_3 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/1/qstn/1/bg-3.jpg');
}

#pg_bkgrnd-question_1 .bg_4 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/1/qstn/1/bg-4.jpg');
}

div#header span {
	width: 1138px;
	height: 55px;
	display: block;
	padding: 20px 0 0 125px;
	background-color: #476b3f;
	font: 600 2em "Copperplate Gothic Light", "Cambria", serif;
	letter-spacing: 2px;
	color: #fff;
}

div#header div#brdr-1 {
	width: 100%;
	height: 3px;
	background-color: #d7dc8b;
}

div#header div#brdr-2 {
	width: 100%;
	height: 3px;
	background-color: #8bbbaf;
}

div#header div#brdr-3 {
	width: 100%;
	height: 10px;
	background-color: #8ab78e;
}

div#header div#brdr-4 {
	width: 100%;
	height: 2px;
	background-color: #3f4637
}

div#windowpane {
	width: 100%;
	height: 607px;
	background-color: #fff;
	opacity: 0.7;
}

div#copy {
	font: 400 0.9em "Glegoo", "Palatino", serif;
}

div#description {
	width: 25%;
	position: absolute;
	top: 200px;
	left: 125px;
	margin: 25px;
	padding: 5px 5px 17px 5px;
	background-color: #d2e6db;
	border: 4px solid #476b3f;
}

div#quiz-button {
	width: 100%;
	height: 50px;
}

div#quiz-button input {
	width: 125px;
	height: 50px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	background-color: #40BDE8;
	font: 400 1.25em "Franklin Gothic Medium", sans-serif;
	color: #221763;
	border: 2px solid #369DBF;
	cursor: pointer;
}

div#quiz-button input#submit-quiz {
 right: -67%;	
}

div#quiz-button input:hover {
	background-color: #33CCFF;
}

div#description p {
	margin: 10px 17px;
	text-indent: 2em;
	line-height: 1.75em	
}

div#questionaire {
	position: absolute;
	top: 200px;
	left: 150px;
}

div.column {
	width: 50%;
	height: auto;
	float: left;
	margin: 0 auto;	
}

div.question {
	width: 70%;
	height: auto;
	padding: 1.5em;
	margin: 2em 0;
	background-color: #fff;
	border: 4px solid #737367;
	font: 400 0.95em "Glegoo", "Palatino", serif;
}

div.question:hover {
	border: 4px solid #9C9C8C;
}

div.question span {
	display: inline-block;
	margin-bottom: 0.5em;
	font-size: 1.1em;
}

div.question p {
	text-indent: 2em;
}

div.question sup {
	font-weight: 0.8em;
}

div.question p.footnote {
	padding: 0.7em;
	background-color: #cfd7a3;
	font-size: 0.9em;
	line-height: 1.6em;
}

div#next-section {
	width: 88px;
	height: 31px;
	position: absolute;
	right: 10px;
	bottom: 31px;
	font: 600 0.8em "Franklin Gothic Medium", sans-serif;
	color: #fff;	
	line-height: 1.25em;
	text-align: center;
}

div#next-section:hover {
	cursor: pointer;
}

.radio input {
	background: url('/test/amelia/assets/img/form/rdio_base.png') no-repeat 0 0;
}
