body {
	margin: 0;
	padding: 0;
}

div#container {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 0 1em 0;
	clear: both;
	z-index: 1;
}

div.pg_bkgrnd {
	width: 100%;
	height: auto;
	position: absolute;
	top: 113px;
	left: 0;
	z-index: -1;
}

div.main-sect_4 > div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/1/bg-1.jpg');
}

div.main-sect_4 > div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/1/bg-2.jpg');
}

div.main-sect_4 > div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/1/bg-3.jpg');
}

div.main-sect_4 > div + div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/1/bg-4.jpg');
}

div.sect_4-a > div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/2/bg-1.jpg');
}

div.sect_4-a > div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/2/bg-2.jpg');
}

div.sect_4-a > div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/2/bg-3.jpg');
}

div.sect_4-a > div + div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/2/bg-4.jpg');
}

div.sect_4-b > div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/3/bg-1.jpg');
}

div.sect_4-b > div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/3/bg-2.jpg');
}

div.sect_4-b > div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/3/bg-3.jpg');
}

div.sect_4-b > div + div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/3/bg-4.jpg');
}

div.sect_4-c > div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/4/bg-1.jpg');
}

div.sect_4-c > div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/4/bg-2.jpg');
}

div.sect_4-c > div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/4/bg-3.jpg');
}

div.sect_4-c > div + div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/4/bg-4.jpg');
}

div#header span {
	width: 1138px;
	height: 65px;
	display: block;
	padding: 30px 0 0 125px;
	background-color: #ece511;
	font: 600 2em "Copperplate Gothic", "Cambria", serif;
	letter-spacing: 2px;
	color: #fff;
}

div#header div#brdr-1 {
	width: 100%;
	height: 3px;
	background-color: #bd0908;
}

div#header div#brdr-2 {
	width: 100%;
	height: 3px;
	background-color: #85bb0d;
}

div#header div#brdr-3 {
	width: 100%;
	height: 10px;
	background-color: #a2ced7;
}

div#header div#brdr-4 {
	width: 100%;
	height: 2px;
	background-color: #0894a3;
}

div#copy {
	width: 100%;
	height: inherit;
}

div.block-desc {
	width: 25%;
	position: relative;
	margin: 25px auto;
	padding: 1em 2em;
	font: 400 0.95em "Glegoo", "Palatino", serif;
}

div#main-tstmnal {
	background-color: #fcd36a;
	border: 5px solid #bc615c;
}

div#main-tstmnal p {
	color: #3b1d13;
	text-indent: 1em;
	font-weight: 400;
}

div#main-tstmnal > p:first-line {
	font-weight: 600;
}

div#main-tstmnal > p + p:first-line {
	font-weight: 400;
}

div.tstmnals p {
	text-indent: 1em;
}

div.tstmnals > p:first-line {
	font-weight: 600;
}

div.tstmnals > p + p:first-line {
	font-weight: 400;
}

div.tstmnals > div {
	display: block;
	position: absolute;
	top: -105px;
	left: 10px;
	font-size: 12em;
}

div.tstmnals {
	margin: 7em auto;
}

div.tstmnals p {
	text-indent: 1em;
}

div.tstmnals > p:first-line {
	font-weight: 600;
}

div.tstmnals > p + p:first-line {
	font-weight: 400;
}

div.tstmnals > span {
	width: 100%;
	display: block;
	padding-top: 0.3em;
	border-top: 3px solid;
	font-size: 1em;
	font-weight: 600;
	text-align: right;
}

div#monifah {
	background-color: #6b3825;
}

div#monifah p {
	color: #e9e1de;
}

div#monifah div {
	color: #c6926a;
}

div#monifah span {
	color: #e3c766;
}

div#ramira {
	background-color: #db9b75;
}

div#ramira div {
	color: #f7e6ba;
}

div#ramira p {
	color: #320f13;
}

div#ramira span {
	color: #f2f1ec;
}

div#owen {
	background-color: #6c708d;
}

div#owen div {
	color: #c9babf;
}

div#owen p {
	color: #271916;
}

div#owen span {
	color: #def567;
}

div.nav-section {
	width: 555px;
	height: 135px;
	position: relative;
	margin: 0 auto;
	clear: both;
}

div.sub-sect_4 {
	width: 740px;
}

div.nav-section > span {
	width: 150px;
	height: 35px;
	display: block;
	position: relative;
	left: 33.5%;
	margin: 15px;
	background: url('/amelia/assets/img/menu/nav-section/sect_4.png') 0 0 no-repeat;
	background-color: #000;
	color: #fff;
	cursor: auto;	
} 

div.sub-sect_4 > span {
	left: 37.5%;
}

div.nav-section span:hover {
	background-position: 0 -35px;
	cursor: pointer;
} 

div.nav-section span:active {
	background-position: 0 -70px;
	cursor: pointer;
} 

div.nav-section div {
	height: 80px;
	position: absolute;
	top: 55px;
	visibility: hidden;
}

div.nav-section a {
	width: 150px;
	height: 22px;
	display: block;
	float: left;
	margin: 15px;
	padding: 3px 0 6px 0;
	background-color: #000;
	border: 2px solid #111;
	font: 400 1.25em "Franklin Gothic Medium", sans-serif;
	color: #fff;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	cursor: pointer; 
}

div.nav-section a:hover {
	background-color: #333;
}