body {
	margin: 0;
	padding: 0;
}

div#container {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 0 1em 0;
	clear: both;
	z-index: 1;
}

div#pg_bkgrnd {
	width: 100%;
	height: auto;
	position: absolute;
	top: 113px;
	left: 0;
	z-index: -1;
}

div.main-sect_4 + div {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/4/bg-1.jpg');
}

divmain-sect_4 + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/4/bg-2.jpg');
}

divmain-sect_4 + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/4/bg-3.jpg');
}

divmain-sect_4 + div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/4/bg-4.jpg');
}

div#header span {
	width: 1138px;
	height: 65px;
	display: block;
	padding: 30px 0 0 125px;
	background-color: #ece511;
	font: 600 2em "Copperplate Gothic", "Cambria", serif;
	letter-spacing: 2px;
	color: #fff;
}

div#header div#brdr-1 {
	width: 100%;
	height: 3px;
	background-color: #bd0908;
}

div#header div#brdr-2 {
	width: 100%;
	height: 3px;
	background-color: #85bb0d;
}

div#header div#brdr-3 {
	width: 100%;
	height: 10px;
	background-color: #a2ced7;
}

div#header div#brdr-4 {
	width: 100%;
	height: 2px;
	background-color: #0894a3;
}

div#copy {
	width: 100%;
	height: auto;
}

div#tstmnal {
	width: 20%;
	position: absolute;
	top: 200px;
	left: 40%;
	margin: 0 auto;
	padding: 3em;
	clear: both;
	font: 400 0.95em "Glegoo", "Palatino", serif;
	background-color: #fcd36a;
	border: 5px solid #bc615c;
}

div#tstmnal p {
	color: #3b1d13;
	text-indent: 1em;
	font-weight: 400;
}

div#tstmnal > p:first-line {
	font-weight: 600;
}

div#tstmnal > p + p:first-line {
	font-weight: 400;
}
div.monifah {
	background-color: #6b3825;
}

div.monifah p {
	color: #e9e1de;
	text-indent: 1em;
}

div.monifah > p:first-line {
	font-weight: 600;
}

div.monifah > p + p:first-line {
	font-weight: 400;
}

div.monifah > div {
	display: block;
	position: absolute;
	top: -56px;
	left: 10px;
	font-size: 12em;
	color: #c6926a;
}

div.monifah > span {
	width: 100%;
	display: block;
	position: initial;
	padding-top: 0.3em;
	float: right;
	border-top: 3px solid;
	color: #e3c766;
	font-size: 1em;
	font-weight: 600;
	text-align: right;
}

div.block-desc p {
	font-size: 0.95em;
	text-indent: 1.3em;
	line-height: 1.5em;
}

div#tstmnals-nav {
	width: 555px;
	height: 135px;
	position: relative;
	top: 530px;
	margin: 0 auto;
}

div#tstmnals-nav span {
	width: 150px;
	height: 35px;
	display: block;
	position: absolute;
	left: 33.5%;
	margin: 15px;
	background: url('/test/amelia/assets/img/menu/nav-section/sect_4.png') 0 0 no-repeat;
	background-color: #000;
	color: #fff;
	cursor: auto;	
} 

div#tstmnals-nav span:hover {
	background-position: 0 -35px;
	cursor: pointer;
} 

div#tstmnals-nav span:active {
	background-position: 0 -70px;
	cursor: pointer;
} 

div#tstmnals {
	width: 555px;
	height: 80px;
	position: absolute;
	top: 55px;
	visibility: hidden;
}

div#tstmnals a {
	width: 150px;
	height: 22px;
	display: block;
	float: left;
	margin: 15px;
	padding: 3px 0 6px 0;
	background-color: #000;
	border: 2px solid #222;
	font: 400 1.25em "Franklin Gothic Medium", sans-serif;
	color: #fff;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	cursor: pointer; 
}

div#tstmnals a:hover {
	background-color: #333;
}