body {
	margin: 0;
	padding: 0;
}

div#container {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 0 1em 0;
	clear: both;
	z-index: 1;
}

div#pg_bkgrnd {
	width: 100%;
	height: auto;
	position: absolute;
	top: 113px;
	left: 0;
	z-index: -1;
}

div.main > div.bg_1 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/3/dvrce/bg-1.jpg');
}

div.main > div.bg_2 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/3/dvrce/bg-2.jpg');
}

div.main > div.bg_3 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/3/dvrce/bg-3.jpg');
}

div.main > div.bg_4 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/3/dvrce/bg-4.jpg');
}

div.grief > div.bg_1 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/3/grief/bg-1.jpg');
}

div.grief > div.bg_2 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/3/grief/bg-2.jpg');
}

div.grief > div.bg_3 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/3/grief/bg-3.jpg');
}

div.grief > div.bg_4 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/3/grief/bg-4.jpg');
}

div.dprsn > div.bg_1 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/3/dprsn/bg-1.jpg');
}

div.dprsn > div.bg_2 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/3/dprsn/bg-2.jpg');
}

div.dprsn > div.bg_3 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/3/dprsn/bg-3.jpg');
}

div.dprsn > div.bg_4 {
	width: 100%;
	height: 200px;
	background-image: url('/test/amelia/assets/img/sect/3/dprsn/bg-4.jpg');
}

div#header span {
	width: 1138px;
	height: 65px;
	display: block;
	padding: 30px 0 0 125px;
	background-color: #937da3;
	font: 600 2em "Copperplate Gothic", "Cambria", serif;
	letter-spacing: 2px;
	color: #fff;
}

div#header div#brdr-1 {
	width: 100%;
	height: 3px;
	background-color: #9ebdff;
}

div#header div#brdr-2 {
	width: 100%;
	height: 3px;
	background-color: #2d4561;
}

div#header div#brdr-3 {
	width: 100%;
	height: 10px;
	background-color: #c498a9;
}

div#header div#brdr-4 {
	width: 100%;
	height: 2px;
	background-color: #cfcbae;
}

div#copy {
	width: 100%;
	height: auto;
}

div.block-desc {
	width: 300px;
	position: absolute;
	top: 200px;
	margin: 25px;
	padding: 10px 25px;
	font: 400 0.95em "Glegoo", "Palatino", serif;
}

div#main-splties {
	left: 750px;
	background-color: #253449;
	border: 5px solid #b7c6c1;
}

div.block-desc p {
	font-size: 0.95em;
	text-indent: 1.3em;
	line-height: 1.5em;
}

div#main-splties p {
	color: #d9e1ee;
}

div#main-splties > p:first-line {
	font-weight: 600;
}

div#main-splties > p + p:first-line {
	font-weight: 400;
}
div#grief {
	left: 125px;
	background-color: #3d3230;
	border: 5px solid #bd9e8c;
}

div#deprsn {
	left: 125px;
	background-color: #37403b;
	border: 5px solid #f7f7f7;
}

div.block-desc > span {
	width: 100%;
	display: block;
	margin: 7px 0;
	padding-bottom: 9px;
	border-bottom: 2px solid;
	font-size: 1.5em;
	font-weight: 600;	
}

div#grief > span {
	color: #ebebe9;
}

div#grief p {
	color: #ebebe9;
}

div#deprsn > span {
	color: #f0eceb;
}

div#deprsn p {
	color: #f0eceb;
}

div#section-nav {
	width: 410px;
	height: 50px;
	position: relative;
	top: 630px;
	margin: 0 auto;
}

div#section-nav span {
	width: 150px;
	height: 35px;
	display: block;
	position: absolute;
	margin: 15px;
	background: url('/test/amelia/assets/img/menu/section-nav/menu.png') 0 0 no-repeat;
	background-color: #000;
	color: #fff;
	cursor: auto;	
} 

div#specltes {
	visibility: hidden;
}
