body {
	margin: 0;
	padding: 0;
}

div#container {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 0 1em 0;
	clear: both;
	z-index: 1;
}

div.pg_bkgrnd {
	width: 100%;
	height: auto;
	position: absolute;
	top: 113px;
	left: 0;
	z-index: -1;
}

div.main-sect_6 > div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/6/1/bg-1.jpg');
}

div.main-sect_6 > div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/6/1/bg-2.jpg');
}

div.main-sect_6 > div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/6/1/bg-3.jpg');
}

div.main-sect_6 > div + div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/6/1/bg-4.jpg');
}

div.sect_6-a > div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/6/2/bg-1.jpg');
}

div.sect_6-a > div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/6/2/bg-2.jpg');
}

div.sect_6-a > div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/6/2/bg-3.jpg');
}

div.sect_6-a > div + div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/6/2/bg-4.jpg');
}

div.sect_4-b > div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/3/bg-1.jpg');
}

div.sect_4-b > div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/3/bg-2.jpg');
}

div.sect_4-b > div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/3/bg-3.jpg');
}

div.sect_4-b > div + div + div + div {
	width: 100%;
	height: 200px;
	background-image: url('/amelia/assets/img/sect/4/3/bg-4.jpg');
}

div#header span {
	width: 1138px;
	height: 65px;
	display: block;
	padding: 30px 0 0 125px;
	background-color: #ece511;
	font: 600 2em "Copperplate Gothic", "Cambria", serif;
	letter-spacing: 2px;
	color: #fff;
}

div#header {
	height: initial;
}

div#header div#brdr-1 {
	width: 100%;
	height: 3px;
	background-color: #bd0908;
}

div#header div#brdr-2 {
	width: 100%;
	height: 3px;
	background-color: #85bb0d;
}

div#header div#brdr-3 {
	width: 100%;
	height: 10px;
	background-color: #a2ced7;
}

div#header div#brdr-4 {
	width: 100%;
	height: 2px;
	background-color: #0894a3;
}

div#copy {
	width: 100%;
	height: inherit;
}

div.block-desc {
	width: 45%;
	height: 39.5%;
	position: relative;
	top: 75px;
	font: 400 0.95em "Glegoo", "Palatino", serif;
}

div.block {
	width: 370px;
	height: 185px;;
	margin: 0 auto;
	padding: 17px;
	background-color: #dce6f0;
	border: 5px solid #91c5fe;
	font: 400 0.95em "Glegoo", "Palatino", serif;
	text-align: center;
}

div#contact-desc {
	width: 58%;
	margin: 0 auto;
	background-color: #442b2f;
	border: 5px solid #ffe0b6;
}

div#contact-desc > div {
	width: 50%;
	float: left;
	padding: 0.2em 1.5em;
	color: #fee8da;
}

div#contact-desc > div + div {
	width: 37%;
	height: 81%;
	margin: 1.6em 0;
	padding: 0.5em 1em;
	color: #442b2f;
	background-color: #fee8da;
}

#contact-desc > div > p:first-line {
	font-weight: 700;	
}

#contact-desc > div > p + p:first-line {
	font-weight: 400;	
}

#contact-desc > div + div span {
	display: block;
	font-size: 0.9em;
}

#contact-desc .title_1 {
	font-size: 1.1em;
	font-weight: 700;
}

#contact-desc .title_1 + span + span {
	margin-bottom: 1em;
}

#map {
	width: 63%;
	height: initial;
	margin: 0 auto;
	position: relative;
	top: 50px;
}

div.nav-section {
	width: 370px;
	height: 135px;
	position: relative;
	top: 135px;
	margin: 0 auto;
}

div.sub-sect_6 {
	width: 555px;
}

div.nav-section > span {
	width: 150px;
	height: 35px;
	display: block;
	position: absolute;
	left: 25.5%;
	margin: 15px;
	background: url('/amelia/assets/img/menu/nav-section/sect_6.png') 0 0 no-repeat;
	background-color: #000;
	color: #fff;
	cursor: auto;	
} 

div.sub-sect_6 > span {
	left: 33.5%;
}

div.nav-section span:hover {
	background-position: 0 -35px;
	cursor: pointer;
} 

div.nav-section span:active {
	background-position: 0 -70px;
	cursor: pointer;
} 

div.nav-section div {
	height: 80px;
	position: absolute;
	top: 55px;
	visibility: hidden;
}

div.nav-section a {
	width: 150px;
	height: 22px;
	display: block;
	float: left;
	margin: 15px;
	padding: 3px 0 6px 0;
	background-color: #000;
	border: 2px solid #222;
	font: 400 1.25em "Franklin Gothic Medium", sans-serif;
	color: #fff;
	text-align: center;
	text-decoration: none;
	cursor: pointer; 
}

div.nav-section a:hover {
	background-color: #333;
}