#qstnair,
#cntct_form {
	height: initial;
	z-index: 6;
}

.clmn {
	width: 32.6em;
	height: auto;
  display: inline-block;
	margin-right: 4.5em;	
}

.form_cntnt {
	height: auto;
  margin-bottom: 1.25em;
	padding: 2em;
	background-color: #fff;
}

.form_cntnt > span {
	display: inline;
}

.form_cntnt > span:first-child {
	display: block;
	margin-bottom: 0.75em;
}

.form_cntnt span + span {
  padding-bottom: 1.1em;
	font-size: 1.1em;
	font-weight: 600;
	line-height: 1.6em;
}

.form_cntnt > span + p {
	margin-top: 0.75em;
	padding-top: 0.75em;
	border-top: 2px solid #cfd7a3;
	line-height: 1.6em;
}

.form_cntnt-spcr {
	width: 100%;
	height: 2px;
	margin: 0.8em auto;
	background-color: #ccc;
}

.form_cntnt fieldset div span {
	position: relative;
	top: -10px;
	font: 400 1.2em "Franklin Gothic Medium", sans-serif;
}

.form_cntnt fieldset div span + span {
	left: -13px;
}

.form_cntnt p {
  margin-top: 0.3em;
	display: block;
	position: relative;
	overflow: visible;
	line-height: 1.7em;
	text-indent: 2em;
}

.form_cntnt sup {
	font-size: 0.8em;
}

.form_cntnt .ftnote {
	padding: 0.7em;
	border-top: 2px dotted #cfd7a3;
	font-size: 0.9em;
	line-height: 1.6em;
}

.form-page_1, 
.form-page_2 {
	display: none;
	opacity: 0;
}

#quiz-bttn,
#cntct-bttn {
	width: 100%;
	height: 50px;
	margin-bottom: 0.7em;
}

#sctn_1-start {
	margin: 0 0 0.8em 0;
	position: relative;
	left: 22.5em;
}

#sctn_1-next,
#sctn_6-next {
	float: right;
}

#sctn_6-next {
	position: relative;
	top: 3em;
	right: -1.6em;
}

#sctn_1-prev,
#sctn_6-prev {
	float: right;
}

#sctn_6-map {
  margin: 0;
  float: right;
}

#sctn_6-start {
  margin: 0.7em 0 0.7em 0;
  float: right;
  letter-spacing: -0.7px;
}

#sctn_1-sbmt {
	float: right;
}

#sctn_6-sbmt {
	float: right;
  letter-spacing: -0.7px;
}

fieldset {
	margin: 1em;
	padding: 1.25em;
	border: 2px solid #cfd7a3;
}

fieldset > div {
	margin: 0 auto;
	width: 264px;
}

input[type=button],
input[type=submit] {
	width: 125px;
	height: 50px;
	margin: 0 0 0 1.2em;
	background-color: #40BDE8;
	font: 400 1.25em "Franklin Gothic Medium", sans-serif;
	color: #221763;
	border: 2px solid #369DBF;
	cursor: pointer;
}

input[type=button]:hover,
input[type=submit]:hover {
	background-color: #33CCFF;
}

input#sctn_5-start {
	margin: 0.35em 0 0.7em 0;
  float: right;
  
}

input#sctn_5-sbmt {
	float: right;
}

input#sctn_5-cntct {
  margin: 0 0 0.7em 0;
	float: right;
  letter-spacing: -0.7px;
}

label + p,
input + p {
	margin-top: 20px;
}

input[type=text],
input[type=email],
input[type=number],
textarea {
	padding: 0.5em;
	border: 2px solid #bbb;
	font: 400 1.3em "Franklin Gothic Medium", sans-serif;
	letter-spacing: 1px;
}

input[type=radio],
input[type=checkbox] {
	border: 0;
	width: 100%;
	height: 1.6em;
}

input[type=range] {
	margin: 0.9em auto 0.1em auto;
	color: #221763;
}

select {
	font: 400 1.3em "Franklin Gothic Medium";
	width: 150px;
	margin: 0.7em auto 0.5em auto;
	display: block;
}

p > input {
	padding: 0;
	margin: 0;
	height: 16px;
	width: 16px;
	float: left;
	position: absolute;
	left: 0;
	opacity: 0;
}

p > label { 
	line-height: 20px; 
	padding-left: 5px;
}

p:not(#foo) > input + label {
	background: url('/amelia/assets/img/form/form.png') 0 -1px no-repeat;
	height: 22px;
	font: 400 1.3em "Franklin Gothic Medium", sans-serif;
}

p:not(#foo) > input[type=radio] + label, 
p:not(#foo) > input[type=checkbox] + label { 
	display: block;
	font-weight: normal;
	padding-top: 0.05em;
	color: #000;
	background-position: 0 0;
}

p:not(#foo) > input[type=checkbox] + label {
	padding-top: 0.2em;
	background-position: 0 -103px;
}

/* Checked styles */
p:not(#foo) > input[type=radio]:checked + label { 
	background-position: 0 -79px;
	font-weight: bold;
	color: #221763;
}

p:not(#foo) > input[type=checkbox]:checked + label { 
	background-position: 0 -178px;
	font-weight: bold;
	color: #221763;
}

p:not(#foo) > input[type=checkbox]:hover:checked + label,
p:not(#foo) > input[type=checkbox]:focus:checked + label,
p:not(#foo) > input[type=checkbox]:checked + label:hover,
p:not(#foo) > input[type=checkbox]:focus:checked + label { 
	background-position: 0 -178px;
	font-weight: 700;
	color: #221763;
}

p:not(#foo) > input[type=radio]:hover:checked + label,
p:not(#foo) > input[type=radio]:focus:checked + label,
p:not(#foo) > input[type=radio]:checked + label:hover,
p:not(#foo) > input[type=radio]:focus:checked + label { 
	background-position: 0 -79px;
	font-weight: 700;
	color: #221763;
}

/* Hover & Focus styles */
p:not(#foo) > input[type=checkbox]:hover + label,
p:not(#foo) > input[type=checkbox]:focus + label,
p:not(#foo) > input[type=checkbox] + label:hover { 
	background-position: 0 -128px;
	font-weight: 700;
	color: #000;
}

p:not(#foo) > input[type=radio]:hover + label,
p:not(#foo) > input[type=radio]:focus + label,
p:not(#foo) > input[type=radio] + label:hover,
p:not(#foo) > fieldset > input[type=radio]:hover + label,
p:not(#foo) > fieldset > input[type=radio]:focus + label,
p:not(#foo) > fieldset > input[type=radio] + label:hover { 
	background-position: 0 -26px;
	font-weight: 700;
	color: #000;
}

/* Active styles */
p:not(#foo) > input[type=checkbox]:active + label,
p:not(#foo) > input[type=checkbox] + label:hover:active { 
	background-position: 0 -153px;
	font-weight: normal;
	
}

p:not(#foo) > input[type=radio]:active + label,
p:not(#foo) > input[type=radio] + label:hover:active { 
	background-position: 0 -53px;
}

p:not(#foo) > input[type=checkbox]:active:checked + label,
p:not(#foo) > input[type=checkbox]:checked + label:hover:active { 
	background-position: 0 -153px;
	font-weight: normal;
}

@media screen and (width: 980px) {

	input[type=button],
	input[type=submit] {
		width: 6em;
		height: 2em;
		margin: 0 0 0 1.2em;
		background-color: #40BDE8;
		font: 400 2.5em "Franklin Gothic Medium", sans-serif;
	}
	
	.clmn {
		width: 39em;
		margin-right: 0;
		display: block;
	}
	
	.form_cntnt {
		font-size: 1.5em;
	}
	
	.form_cntnt fieldset div span {
		font-size: 1.1em;
	}

	.form_cntnt fieldset div span:first-child {
		margin-left: 0.25em;
	}

	fieldset > div {
		width: 330px;
	}
	
	fieldset > textarea {
		width: 397px;
	}
	
	input#sctn_1-start {
		font-size: 1.5em;
	}
	
	input#sctn_5-sbmt {
		width: 7em;
	}
	
	input#sctn_5-cntct,
	input#sctn_6-start {
		width: 7.75em;
		letter-spacing: 0;
	}
	
	input#sctn_6-map {
		margin: 0.7em 0 0 0.55em;
		font-size: 1.5em;
	}
	
	input#sctn_6-sbmt {
		width: 7.7em;
		margin-left: 0.7em;
		letter-spacing: 0;
		
	}
}

@media screen and (min-width: 1260px) {
  .clmn {
    vertical-align: top;
  }
	
	.form_cntnt {
		font-size: 1em;
	}

	#sctn_6-map {
		margin-top: 0.75em;
	}
}

@media screen and (min-width: 1340px) and (max-width: 1590px) {
  .clmn {
    vertical-align: top;
  }
	
	.form_cntnt {
		font-size: 0.9em;
	}
	
	#sctn_6-map {
		margin-top: 0.75em;
	}
}

@media screen and (min-width: 1910px) {
	#form-sctn_1 {
		margin-left: 20em;
		position: relative;
	}

	input[type=button],
	input[type=submit] {
		font-size: 1.1em;
	}

	#sctn_6-start {
		position: relative;
		letter-spacing: 0px;
	}

	#sctn_6-map {
		margin-top: 0.85em;
	}
}

