/* Filename: main.css 
 *  + Contains the CSS styling for all of the static visual elements of the 'One Page' template
 *  !!! NOTE !!! Does not contain styling for the navigation or form elements 
 * 
 *  + All measurements are given in terms of 'em' except for background position values which are 
 *    given in terms of 'px'.
 * 
 *  + The responsive breaklines fall according to the following browser dimensions:
 *    - 1920x1020
 *    - 1600x900
 *    - 1366x768
 *    - 1280x1024
 *    - 1280x800
 *    - 1024x1500
 *    - 980x1740
 *    - 980x1308
 * ******************************************************************************************** */

body {
  margin: 0;
	padding: 0;
	overflow-x: hidden;
}
/* Formats the <body> HTML tag */

#cntainr {
  width: initial;
  height: initial;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	clear: both;
	z-index: 1;
}
/* Formats the <div> which holds all of the text and form content. */

.wndow {
	padding: 0;
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
}
/* Formats the <div> which holds the text and form content of a particular 'SECTION' */

#bkgrnd {
	position: absolute;
	top: 0;
  left: 0;
	z-index: 0;
}
/* Formats the <div> which holds the <div> elements which hold the background images 
 * for the individual sections. 
 */

 #bkgrnd > div {
   background-repeat: no-repeat;
 }
 /* Formats the <div> elements which hold the background images for the individual sections. */

.headr {
	width: 61.2em;
	height: 6em;
	position: absolute;
	top: 3.13em;
	display: table;
  opacity: 0;
}
/* Formats the <div> which holds the 'SECTION' title for a given section. */

.headr > span {
  width: 12em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font: 600 2.5em 'Balthazar', 'Cambria', serif;
	letter-spacing: 2px;
	color: #fff;
}
/* Formats the <span> element which holds the text of the 'SECTION' title of a 
 *  particular section. 
 */

.copy {
  margin: 8.15em 0 0 17.5em;
	display: none;
	position: absolute;
  float: left;
  top: 0;
  left: 0;
	font: 400 1em 'Glegoo', 'Palatino', serif;
}
/* Formats the <div> which holds the text or form content within a section. 
   '.copy' elements differ from '.wndow' elements in that '.copy' elements only 
   hold the content of one sub-section, while '.wndow' elements hold many 
   sub-sections.
*/



/* ---- 'MAIN LANDING PAGE' ---- 
 * Holds a <div>, with an id of "#info", which contains the content which appears on the landing 
 * portion of this template.
 */

#info {
	width: 38.6em;
	height: 15.2em;
	position: absolute;
	float: right;
  bottom: 9.2em;
  left: 12.5em;
  opacity: 0;
}
/* Formats a <div> which contains the logo and <ul> list which is displayed 
 * in the landing portion.
 */

#info img {
  margin: 0 1.7em;
  padding: 1.7em;
	display: none;
  position: relative;
  float: left;
  background-color: #967348;
	opacity: 0;
}
/* Formats the logo which is contained within the <div> using the selctor, "#info". */

#info ul {
  margin: 0.25em 0 0 0;
  padding: 0;
  display: none;
  position: relative;
  float: left;
	font-family: 'Balthazar', serif;
	font-size: 1.1em;
  opacity: 0;
}
/* Formats the list which is contained within the <div> using the selctor, "#info". */

#info li {
  width: 17.4em;
  height: 1.65em;
	margin: 1em 0;
  padding: 0.6em 0 0 0;
  display: none;
  text-align: center;
  color: #fbe7e9;
  background-color: #632e22;
	opacity: 0;
}
/* Formats the list-items which are contained within the <div> using the selctor, "#info". */



/* ---- 'SECTION #1' ---- */

.headr.sctn_1 {
	background-color: #92676c;
}
/* Formats the color of the <div> which holds the title of 'SECTION #1'. */

.sctn_1-blok, 
.sctn_3-blok,
.sctn_4-blok, 
.sctn_6-blok {
	width: 32.5em;
	height: initial;
	padding: 1em 2em;
	position: absolute;
	z-index: 2;
	opacity: 0;
}
/* Formats the main 'blocks' which hold <p> elements which contain text content. 
 * The blocks, using the above classed, are contained within sections, 1, 3, 4, & 6 
 * are formatted in this pairing. 
 */

.sctn_1-blok > span {
	width: 100%;
	padding-bottom: 0.25em;
	display: inline-block;
	border-bottom: 2px solid;
	font-weight: 800;
	font-size: 2.5em;
}
/* Formats a <span> element which contains a text header for an individual response from 
 * 'FORM TYPE #1. The <span> elements appear within the <div> elements using the selectors, 
 * 'sctn_1-desc-2' & 'sctn_1-desc-3'.
 */

.sctn_1-blok > p {
	margin-bottom: 2.0em;
	text-indent: 1.3em;
	line-height: 1.8em;
  color: #58262c;
}
/* Formats the <p> elements which hold the text content that is contained by a <div> element
 * using the class, '.sctn_1-blok'.
 */

.sctn_1-blok > p ~ p {
  margin-bottom: 1.7em;
  padding-bottom: 1.5em;
  border-bottom: 3px solid;
}
/* More formatting for the <p> elements which hold the text content that is 
 * contained by a <div> element using the class, '.sctn_1-blok'.
 */

#sctn_1-desc-1 {
	background-color: #e7d4c8;
}
/* Contains more formating for a <div> element also using the class, 'sctn_1-blok. 
 * Appears within the 'FIRST WINDOW PANE' or first sub-section of 'SECTION #1' 
 */

#sctn_1-desc-2 {
	background-color: #e7dcc8;
	color: #6d5647;
}
/* Contains more formating for a <div> element also using the class, 'sctn_1-blok. 
 * Appears within the 'THIRD WINDOW PANE' or third sub-section of 'SECTION #1' 
 */

#sctn_1-desc-3 {
	background-color: #dec0c3;
	color: #694448;
}
/* Contains more formating for a <div> element also using the class, 'sctn_1-blok. 
 * Appears within the 'FOURTH WINDOW PANE' or fourth sub-section of 'SECTION #1' 
 */



/* ---- 'SECTION #2' ---- */

.headr.sctn_2 {
	background-color: #744725;
}
/* Formats the color of the <div> which holds the title of 'SECTION #2'. */

.sctn_2-blok {
	width: 26.5em;
  min-width: 320px;
	height: auto;
  margin-right: 4.5em;
	padding: 1em;
  display: inline-block;
  background-color: #d9c296;
	text-align: center;
  opacity: 0;
}
/* Formats the blocks which contain the largest and above the secondary blocks within 'SECTION #2'. */

.sctn_2-blok > img {
  margin-bottom: 0.4em;
}
/* Formats an image which is contained within the <div> 
 * elements or blocks, using the class, '.sctn_2-blok'. 
 */

.sctn_2-blok > ul {
  width: 74.3%;
  margin: 0.35em auto;
  padding: 0;
  list-style-type: none;
  border-top: 3px solid #897042;
}
/* Formats the list which appears within the <div> 
 * elements or blocks, using the class, '.sctn_2-blok'. 
 */

.sctn_2-blok > ul > li {
  margin: 0.5em;
  color: #523a0e
}
/* Formats the list-items which appears within the <div> 
 * elements or blocks, using the class, '.sctn_2-blok'. 
 */

.sctn_2-blok > ul > li:first-child {
  font-weight: 600;
}
/* More formatting for the first list-item which appears within the <div> 
 * elements or blocks, using the class, '.sctn_2-blok'. 
 */

.sctn_2-blok-2 {
	width: 66.35em;
  height: auto;
  margin: 0;
  position: relative;
  top: 4em;
  left: -17.5em;
  float: left;
  clear: both;
	opacity: 0;
}
/* Formats the secondary blocks that appear below the larger, main blocks in 'SECTION #2'. */

.sctn_2-blok-2 > span {
	width: 15em;
	display: block;
	padding: 1em;
	margin: 0 auto;
  background-color: #745925;
  font-size: 1.1em;
	font-weight: 600;
  text-align: center;
	color: #d9c296;
}
/* Formats a <div> element which serves as a 'header' for the secondary blocks 
 * contained within 'SECTION #2'. 
 */

.sctn_2-blok-2 > span + div {
  width: 53.5em;
  height: inherit;
  margin: 0 auto;
  position: relative;
  top: 1.5em;
}
/* Formats a <div> element which serves as a container for secondary information 
 * within 'SECTION #2. 
 */

.sctn_2-blok-2 > span + div > span {
	width: 15em;
	height: 75px;
	margin-left: 2.1em;
  padding-top: 2.5em;
	display: block;
  float: left;
  text-align: center;
  font-weight: 600;
  color: #523a0e;
  background-color: #b19563;
}
/* Formats the text content of the secondary blocks that appear near the bottom of the 
 * landing page for 'SECTION #2'. 
 */

.sctn_2-spcr {
  width: 0.1em;
  height: 4em;
}
/* Formats a <div> element which reorders the content contained within 'SECTION #2' 
 * depending on its width and height. 
 */



/* ---- 'SECTION #3' ---- */

.headr.sctn_3 {
	background-color: #b7a68e;
}
/* Formats the color of the <div> which holds the title of 'SECTION #3'. */

.sctn_3-blok > span {
	width: 100%;
	display: block;
	padding-bottom: 0.1em;
	border-bottom: 2px solid;
	font-size: 2.5em;
	font-weight: 600;
}
/* Formats a <span> element which contains a text header for the 'block' within each 
 * sub-section. The <span> elements appear within the <div> elements using the selectors, 
 * 'sctn_3-desc-2', 'sctn_3-desc-3', & 'sctn_3-desc-4'.
 */

.sctn_3-blok > p {
	text-indent: 1.3em;
	line-height: 1.7em;
}
/* Formats <p> elements which are contained with an individual block contained 
 * within 'SECTION #3'.
 */

#sctn_3-desc-1 {
  background-color: #988366;
  color: #d9cdbc;
}
/* Formats a block which is contained within the 'FIRST WINDOW PANE' of 'SECTION #3'. */

#sctn_3-desc-2 {
  background-color: #987566;
  color: #fffcfb;
}
/* Formats a block which is contained within the 'FIRST WINDOW PANE' of 'SECTION #3'. */

#sctn_3-desc-3 {
  background-color: #988c66;
  color: #fffbee;
}
/* Formats a block which is contained within the 'THIRD WINDOW PANE' of 'SECTION #3'. */

#sctn_3-desc-4 {
	background-color: #988366;
  color: #fff8ee;
}
/* Formats a block which is contained within the 'FOURTH WINDOW PANE' of 'SECTION #3'. */



/* ---- 'SECTION #4' ---- */

.headr.sctn_4 {
	background-color: #c8586a;
}
/* Formats the color of the <div> which holds the title of 'SECTION #4'. */

.sctn_4-blok > p {
	text-indent: 1em;
  line-height: 1.7em;
}
/* Formats <p> elements which are contained with an individual block contained 
 * within 'SECTION #4'.
 */

.sctn_4-blok > div {
	position: absolute;
	top: -0.3em;
	left: 0.06em;
	font-size: 12em;
}
/* Formats <div> elements which appear as quotation marks above the blocks 
 * contained within 'SECTION #4'.
 */

.sctn_4-blok > span {
	width: 100%;
	display: block;
	padding-top: 0.3em;
	border-top: 3px solid;
	font-size: 1.25em;
	font-weight: 800;
	text-align: right;
}
/* Formats a <span> element which contains a text header for the 'block' within each 
 * sub-section. The <span> elements appear within the <div> elements using the selectors, 
 * 'sctn_4-desc-2', 'sctn_4-desc-3', & 'sctn_4-desc-4'.
 */

#sctn_4-desc-1 {
	background-color: #a33042;
  color: #fbdadf;
}
/* Formats a block which is contained within the 'FIRST WINDOW PANE' of 'SECTION #4'. */

#sctn_4-desc-2 {
	background-color: #ffd6bc;
  color: #ac6133
}
/* Formats a block which is contained within the 'SECOND WINDOW PANE' of 'SECTION #4'. */

#sctn_4-desc-2 div {
	color: #fbbc95;
}
/* Formats the quotation marks which appear above the block 
 * within the 'SECOND WINDOW PANE' of 'SECTION #4'. 
 */

#sctn_4-desc-2 span {
	color: #d48b5d;
}
/* Formats a <span> element which are contained within a  block 
 * within the 'SECOND WINDOW PANE' of 'SECTION #4'. 
 */

#sctn_4-desc-3 {
  background-color: #FBBC95;
  color: #AC6133;
}
/* Formats a block which is contained within the 'THIRD WINDOW PANE' of 'SECTION #4'. */

#sctn_4-desc-3 div {
  color: #FFF2DE;
}
/* Formats the quotation marks which appear above the block 
 * within the 'THIRD WINDOW PANE' of 'SECTION #4'. 
 */

#sctn_4-desc-3 span {
  color: #AC7F33;
}
/* Formats a <span> element which are contained within a  block 
 * within the 'THIRD WINDOW PANE' of 'SECTION #4'. 
 */

#sctn_4-desc-4 {
  background-color: #fbd595;
  color: #AC7F33;
}
/* Formats a block which is contained within the 'FOURTH WINDOW PANE' of 'SECTION #4'. */

#sctn_4-desc-4 div {
  color: #FFF2DE;
}
/* Formats the quotation marks which appear above the block 
 * within the 'FOURTH WINDOW PANE' of 'SECTION #4'. 
 */

#sctn_4-desc-4 span {
  color: #D3A75D;
}
/* Formats a <span> element which are contained within a  block 
 * within the 'FOURTH WINDOW PANE' of 'SECTION #4'. 
 */



/* ---- 'SECTION #5' ---- */

.headr.sctn_5 {
	background-color: #3C667B;
}
/* Formats the color of the <div> which holds the title of 'SECTION #5'. */

.sctn_5-blok {
	width: 28.9em;
  margin-right: 4.5em;
	padding: 1em 2em;
	position: relative;
	opacity: 0;
}
/* Formats the blocks which are contained with 'SECTION #5'. */

.sctn_5-blok > p {
	text-indent: 1.3em;
	line-height: 1.7em;
}
/* Formats the <p> elements which hold the text content that is contained by a <div> element
 * using the class, '.sctn_5-blok'.
 */

#sctn_5-desc-1 {
  float: left;
	background-color: #96C5AA;
	color: #216F43;
}
/* Formats the block which contains text content but does not include a <button> element 
 * which appears within the 'FIRST WINDOW PANE' of 'SECTION #5'. 
 */

#sctn_5-desc-2 {
	width: 28.9em;
  margin-top: 2.5em;
  padding-bottom: 0;
	position: relative;
  float: left;
  background-color: #5F8395;
}
/* Formats the block which serves as a header which appears within the 'FIRST WINDOW PANE' 
 * of 'SECTION #5'. 
 */

#sctn_5-desc-2 > span {
  margin: 0.1em 0 1em 0;
  display: block;
	color: #C1D1D9;
	font-size: 1.25em;
	font-weight: 600;
	text-align: center;
}
/* Formats the text content of a block which appears within the 'FIRST WINDOW PANE' 
 * of 'SECTION #5'. 
 */

#sctn_5-desc-3 {
	float: left;
}
/* Formats a <div> element which serves as a container for various <span> elements 
 * which contain either logos or text. 
 */

#sctn_5-desc-3 > span {
  width: 113px;
  height: 45px;
  padding: 1em;
  display: inline-block;
  background-repeat: no-repeat;
  background-color: #C1D1D9;
}
/* Formats <span> elements which contains a logo or text content */

#sctn_5-desc-3 > span > span {
  width: 105px;
  height: 27px;
  margin-top: 0.55em;
  display: block;
  background-image: url('/amelia/assets/img/sctn/5/sprite-insrance_comps.png');
  background-position: 0px 0px;
}
/* Formats a <span> element which contain a logo. This logo is contained by 
 * the block which appears on the upper-left, underneath the header block.
 */

#sctn_5-desc-3 > span + span > span {
  width: 105px;
  height: 20px;
  margin-top: 0.9em;
  display: block;
  background-image: url('/amelia/assets/img/sctn/5/sprite-insrance_comps.png');
  background-position: 0px -28px;
}
/* Formats a <span> element which contain a logo. This logo is contained by 
 * the block which appears on the upper-middle, underneath the header block.
 */

#sctn_5-desc-3 > span + span + span > span {
  width: 105px;
  height: 45px;
  margin-top: 0;
  display: block;
  background-image: url('/amelia/assets/img/sctn/5/sprite-insrance_comps.png');
  background-position: 0px -47px;
}
/* Formats a <span> element which contain a logo. This logo is contained by 
 * the block which appears on the upper-right, underneath the header block.
 */

#sctn_5-desc-3 > span + span + span ~ span span {
  height: 45px;
  margin-top: 0.85em;
  text-align: center;
  background-image: none;
}
/* Formats <span> elements which contain text. Theses elements appear
 * below a row of <span> elements which contain logos.
 */

#sctn_5-desc-4 {
	float: left;
	background-color: #C1D1D9;
	color: #214D62;
}
/* Formats the block which contains text content but DOES include a <button> element 
 * which appears within the 'FIRST WINDOW PANE' of 'SECTION #5'. 
 */

#sctn_5-desc-4 > p {
  padding-bottom: 0.9em;
	border-bottom: 2px solid;
}
/* Formats the <p> element which appears in the block underneath the collection of <span> elements 
 * containing logos and text.
 */

#sctn_5-desc-5 {
	background-color: #96C5AA;
	color: #408B61;
}
/* Formats the block which serves as a header for the content that is contained 
 * within the 'THIRD WINDOW PANE' of 'SECTION #5'.
 */

#sctn_5-desc-5 > span {
	display: block;
	font-size: 2em;
	font-weight: 700;
  text-align: center;
}
/* Formats the text of the block which serves as a header for the content contained 
 * within the 'THIRD WINDOW PANE' of 'SECTION #5'. 
 */

#sctn_5-desc-6 {
  min-height: 225px;
  margin-top: 1em;
  float: left;
  background-color: #216F43;
}
/* Formats a block that appears below the block that serves as a header 
 * within the 'THIRD WINDOW PANE' of 'SECTION #5'.
 */

#sctn_5-desc-6 > span {
  width: 100%;
  height: 225px;
  display: table;
  float: 1em;
}
/* Formats a block that serves as a container for text copy that appears below the block 
 * that serves as a header within the 'THIRD WINDOW PANE' of 'SECTION #5'. 
 */

#sctn_5-desc-6 > span > span {
	display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* Formats a block that serves as a container for text copy that appears below the block 
 * that serves as a header within the 'THIRD WINDOW PANE' of 'SECTION #5'. 
 */

#sctn_5-desc-6 > span > span > sup {
	position: absolute;
	top: 55px;
	font-size: 2.5em;
  color: #C8CBDF;
}
/* Formats the dollar sign that appears in the block below the block that serves as a header  
 * within the 'THIRD WINDOW PANE' of 'SECTION #5'. 
 */

#sctn_5-desc-6 > span > span > span {
  font-size: 10em;
  letter-spacing: -10px;
  color: #fff;
}
/* Formats the numberical value that appears in the block below the block that serves as a header  
 * within the 'THIRD WINDOW PANE' of 'SECTION #5'. 
 */

#sctn_5-desc-6 > span > span > span + span {
  font-size: 1.5em;
  letter-spacing: 0;
  color: #96C5AA;
}
/* Formats the text, '/hour', that appears in the below the block that serves as a header 
 * within the 'THIRD WINDOW PANE' of 'SECTION #5'. 
 */

#sctn_5-desc-7 {
  min-height: 225px;
	margin-top: 1em;
  float: left;
  background-color: #C8CBDF;
	color: #2A326B;
}
/* Formats a block that appears on the right of the page within the 'THIRD WINDOW PANE' 
 * of 'SECTION #5'.
 */

#sctn_5-desc-7 > p {
	padding-bottom: 0.9em;
  font-size: 0.95em;
  border-bottom: 2px solid;
}
/* Formats <p> elements which appear within a block that appears on the right of the page 
 * within the 'THIRD WINDOW PANE' of 'SECTION #5'. 
 */


/* ---- 'SECTION #6' ---- */

.headr.sctn_6 {
	background-color: #46483b;
}
/* Formats the color of the <div> which holds the title of 'SECTION #6'. */

.sctn_6-blok {
  margin-right: 2.5em;
	padding: 1em 2em;
  position: relative;
  float: left;
	opacity: 0;
}
/* Formats the blocks which appears directly underneath the header within the 'FIRST WINDOW PANE' 
 * of 'SECTION #6'.
 */

#sctn_6-desc-1 {
	padding: 1em 2em;
	opacity: 0;
	background-color: #a7ab92;
  color: #2A2E13;
}
/* Formats the block which appears directly underneath the header on the left hand side of the page 
 * within the 'FIRST WINDOW PANE' of 'SECTION #6'.
 */

#sctn_6-desc-1 > p {
  margin-bottom: 0.5em;
  padding-bottom: 1.2em;
  line-height: 1.7em;
  border-bottom: 3px solid;
}
/* Formats the <p> elements which are contained by the block which appears directly underneath the header 
 * on the left hand side of the page within the 'FIRST WINDOW PANE' of 'SECTION #6'.
 */

#sctn_6-info-1 {
  width: 28.9em;
  margin-top: 2.5em;
  padding-bottom: 0;
	position: relative;
  color: #fff;
  background-color: #971b1e;
}
/* Formats the block which appears directly underneath the header on the right hand side of the page 
 * within the 'FIRST WINDOW PANE' of 'SECTION #6'.
 */

#sctn_6-info-1 > span {
  width: 100%;
  padding-bottom: 0.75em;
  display: table;
  background: none;
}
/* Formats a block that serves as a container for text copy that appears directly underneath the header 
 * on the right hand side of the page within the 'FIRST WINDOW PANE' of 'SECTION #6'. 
 */

#sctn_6-info-1 > span > span {
  font-size: 1em;
  font-weight: 600;
  display: table-cell;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  background: none;
}
/* Formats a <span> element which is contained by the block which appears directly underneath the header 
 * on the right hand side of the page within the 'FIRST WINDOW PANE' of 'SECTION #6'.
 */

.sctn_6-blok-2 {
  width: 15.25em;
  height: 10.31em;
  margin-right: 2.5em;
  float: left;
  opacity: 0;
}
/* Formats the blocks which serve as headers for office information within the 'FIRST WINDOW PANE' 
 * of 'SECTION #6'.
 */

.sctn_6-blok-2 > div {
  width: 7.5em;
  margin-top: 0.75em;
  padding: 1em 1.65em;
  float: left;
  background-color: #b0ae97;
}
/* Formats the blocks which contain office information within the 'FIRST WINDOW PANE' 
 * of 'SECTION #6'.
 */

.sctn_6-blok-2 > span {
  padding: 1em 1.7em;
  display: block;
  font-weight: 600;
  color: #b0ae97;
  background-color: #302e1e;
}
/* Formats blocks which serve as headers for office information within the 'FIRST WINDOW PANE' 
 * of 'SECTION #6'.
 */

.sctn_6-blok-2 > div > span {
  display: block;
  line-height: 1.7em;
  color: #302e1e;
}
/* Formats the text within blocks which contain office information within the 'FIRST WINDOW PANE' 
 * of 'SECTION #6'.
 */

#sctn_6-info-2 {
  width: 32.8em;
  height: 12.15em;
  margin-top: 1em;
  position: relative;
}
/* Formats a block which serves as a header for location informtion which appears 
 * on the right hand side of the page within the 'FIRST WINDOW PANE' of 'SECTION #6'.
 */

#sctn_6-info-2 > div {
  width: 15.75em;
}
/* Formats a block which serves as a container of location informtion which appears 
 * on the right hand side of the page within the 'FIRST WINDOW PANE' of 'SECTION #6'.
 */

#sctn_6-info-2 > div > div {
  width: 9.61em;
  margin: 0;
  padding: 0;
	float: left;
}
/* Formats a block which serves as a container of <span> elements which appears on the right hand side 
 * of the page within the 'FIRST WINDOW PANE' of 'SECTION #6'.
 */

#sctn_6-info-2 > div > div > span {
  display: block;
}
/* Formats <span> elements which contain location informtion which appears 
 * on the right hand side of the page within the 'FIRST WINDOW PANE' of 'SECTION #6'.
 */

.sctn_6-spcr {
  width: 28.9em;
  height: 1em;
  position: relative;
  clear: both;
}
/* Formats a block which spaces blocks within the 'FIRST WINDOW PANE' of 'SECTION #6'. */

#sctn_6-desc-2 {
 padding: 1em 2em;
	margin-bottom: 20em;
	position: relative;
	background-color: #A7AB92;
	color: #2C2F1E;
}
/* Formats a block which appears directly underneath the header within the 'SECOND WINDOW PANE' 
 * of 'SECTION #6'.
 */

#sctn_6-desc-2 > span {
	display: block;
	margin-bottom: 0.5em;
	border-bottom: 3px solid;
	font-size: 2.5em;
	font-weight: 600;
}
/* Formats the <span> element which serves as a header for the block directly underneath the header  
 * within the 'FIRST WINDOW PANE' of 'SECTION #6'.
 */

#sctn_6-desc-2 > p {
  line-height: 1.7em;
}
/* Formats the <p> elements which are contained within a block that appears directly underneath the header  
 * within the 'FIRST WINDOW PANE' of 'SECTION #6'.
 */

@media screen and (width: 980px) {
  /* This CSS breakpoint affects browsers which have a width of 980px. This breakpoint is optimized to fit iPhones. */
  #info {
    background-color: #977348;
    width: 61.25em;
    height: 76em;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
  }

  #info img {
    width: 480px;
    height: 455px;
    position: absolute;
    margin: 3em 14em;
    display: block;
    opacity: 1;
  }

  #info > ul {
    width: 100%;
    position: absolute;
    margin: 0;
    top: 13.5em  ;
    display: block;
    opacity: 1;
    font-size: 2.5em;
  }

  #info > ul > li {
    margin: 1em auto;
    display: block;
    opacity: 1;
  }

  .headr > span {
    font-size: 3em;
  }

  .copy {
    width: 51em;
    height: 100.7em;
    margin-left: 10.25em;
  }
  
  .sctn_2-blok {
    width: 39em;
    margin-right: 0;
  }

  .sctn_2-blok-2 {
    width: 43em;
    margin-left: 8em;
    top: 2em;
    left: 0;
  }

  .sctn_2-blok-2 > span {
    width: 8.5em;
    margin-left: 2.3em;
  }

  .sctn_2-blok-2 > span + div {
    width: 100%;
    height: 29.8em;
    top: 0;
    left: 0;
  }

  .sctn_2-blok-2 > span + div > span {
    margin: 0.25em 0;
    padding: 0.45em 0 1em 0;
    display: block;
    line-height: 1.6em;
  }

  .sctn_1-blok, 
  .sctn_2-blok-2 > span + div > span
  .sctn_3-blok,
  .sctn_4-blok,
  .sctn_5-blok,
  .sctn_6-blok,
  #sctn_5-desc-2,
  #sctn_6-info-1  {
    width: 36em;
  }

  .sctn_1-blok > p,
  .sctn_2-blok > ul, 
  .sctn_2-blok-2 > span, 
  .sctn_2-blok-2 > span + div > span, 
  .sctn_3-blok > p,
  .sctn_4-blok > p,
  .sctn_4-blok > span, 
  .sctn_5-blok > p,
  #sctn_5-desc-2 > span,
  #sctn_5-desc-7 > p,
  .sctn_6-blok > p,
  .sctn_6-blok-2 > span,
  #sctn_6-info-1 > span > span,
  .sctn_6-blok-2 > div {
    font-size: 1.75em;
  }

  .sctn_1-blok,
  .sctn_3-blok, 
  .sctn_4-blok,
  .sctn_6-blok {
    width: 36.25em;
  } 

  .sctn_4-blok > div {
    top: -0.55em;
  }

  .sctn_5-blok > p, 
  .sctn_6-blok > p, 
  .sctn_6-blok-2 > div {
    font-size: 1.5em;
  }

  #sctn_5-desc-3 > span {
    margin: 0.5em 1.35em;
    display: block;
    float: left;
  }

  .sctn_6-blok-2 {
    width: 18.8em;
    height: 20.8em;
    margin-bottom: 1.75em;
  }

  .sctn_6-blok-2 > div {
    width: 9.25em;
  }

  #sctn_6-info-2 {
    width: 40em;
    height: 19em;
  }

  #sctn_6-info-2 > div {
    width: 23.5em;
  }
}

@media screen and (width: 980px) and (max-height: 1310px) {
  /* This CSS breakpoint affects browsers which have a width of 980px and a height less than 1310px. 
  * This breakpoint is optimized to fit the iPad. 
  */

  #info {
    height: 72em;
  }
  
  .copy {
    width: 51em;
    height: 73.7em;
    margin-left: 10.25em;
  }

  #wndow-sctn_2 > .copy:first-of-type {
    width: 54.25em;
    margin-left: 13.75em;
  }

  .sctn_1-blok, 
  .sctn_3-blok, 
  .sctn_4-blok,
  .sctn_5-blok,
  .sctn_6-blok,
  #sctn_5-desc-2,
  #sctn_6-info-1 {
    width: 36em;
  }

  .sctn_1-blok > p, 
  .sctn_2-blok > ul,
  .sctn_2-blok-2 > span, 
  .sctn_3-blok > p,
  .sctn_4-blok > p, 
  .sctn_5-blok > p, 
  .sctn_6-blok > p,
  #sctn_6-info-1 > span > span, 
  .sctn_6-blok-2 > span,
  .sctn_6-blok-2 > div {
    font-size: 1.5em !important;
  }

  .sctn_5-blok > p, 
  .sctn_6-blok > p, 
  .sctn_6-blok-2 > div {
    font-size: 1.25em !important;
  }

  .sctn_2-blok > ul > li {
    margin: 0.25em;
  }

  .sctn_2-spcr {
    width: 41.1em;
    height: 2em;
  }
  
  .sctn_2-blok-2 {
    margin-left: 0;
    top: 1em;
  }

  .sctn_2-blok-2 > span {
    margin-left: 8.5em;
  }

  .sctn_2-blok-2 > span + div {
    top: 1em;
  }

  .sctn_2-blok-2 > span + div > span {
    width: 8.2em;
    height: 8em;
    margin: 0.25em 1.25em 0.25em 0em;
    padding: 1em;
    font-size: 1.25em;
  }

  .sctn_6-blok-2 {
    width: 19em;
    height: 20.3em;
    margin-bottom: 0;
  }

  .sctn_6-blok-2 > div {
    width: 12em;
  }

  #sctn_6-info-2 {
    width: 40em;
    height: 16em;
  }

  #sctn_6-info-2 > div {
    width: 28.75em;
  }
}

@media screen and (width: 1024px) and (max-height: 1510px)  {
  /* This CSS breakpoint affects browsers which have a width of 1024px and a height of 1510px. 
  * This breakpoint is optimized to fit the iPad Pro. 
  */

  #info {
    width: 45.6em;
    height: 17em;
    bottom: 17em;
    left: 10.5em;
  }

  #info img {
    margin: 1.7em;
  }

  #info ul {
    font-size: 1.25em;
  }

  .copy {
    height: 77.25em;
  }

  #wndow-sctn_main {
    width: 64em;
    height: 93.75em;
  }

  #wndow-sctn_1 > .copy, 
  #wndow-sctn_3 > .copy, 
  #wndow-sctn_4 > .copy {
    width: 50.75em;
    margin-left: 13.25em;
  }

  #wndow-sctn_2 > .copy {
    width: 46.5em;
  }

  #wndow-sctn_5 > .copy, 
  #wndow-sctn_6 > .copy {
    width: 48.5em;
    margin-left: 15.5em;
  }

  .headr {
    width: 64em;
  }

  .sctn_1-blok > p, 
  .sctn_2-blok > ul,
  .sctn_2-blok-2 > span, 
  .sctn_3-blok > p,
  .sctn_4-blok > p, 
  #sctn_6-info-1 > span > span, 
  .sctn_6-blok-2 > span {
    font-size: 1.5em !important;
  }

  .sctn_5-blok > p, 
  .sctn_6-blok > p, 
  .sctn_6-blok-2 > div {
    font-size: 1.25em !important;
  }
  
  .sctn_2-blok-2 {
    width: 64em;
  }

  .sctn_2-blok-2 > span + div > span {
    padding-top: 1em;
  }

  .sctn_4-blok > div {
    top: -0.6em;
  }

  #sctn_5-desc-3 > span {
    width: 119px;
  }

  #sctn_5-desc-3 > span > span {
    margin: 0.5em 0.6em 0 0.25em;
  }

  #sctn_5-desc-3 > span + span + span ~ span span {
    margin-top: 0.55em;
  }

  #sctn_6-info-1 {
    margin: 2.5em 0 1.5em 0;
  }

  #sctn_6-info-1 > span {
    padding-bottom: 1em;
  }

  #sctn_6-info-2 > div {
    width: 23em;
  }

  .sctn_6-blok-2 {
    width: 15.25em;
    height: 20.3em;
    margin-bottom: 0;
  }

  #sctn_6-info-2 {
    width: 33em;
    height: 16em;
  }

  .sctn_6-blok-2 > div {
    width: 9em;
  }
}

@media screen and (min-width: 1260px) and (max-width: 1320px) {
  /* This CSS breakpoint affects browsers which have a width between 1260px and 1320px. 
  * This breakpoint is optimized to fit resolutions of 1280x800. 
  */

  #cntainr {
    width: 80em;
  }

  .headr {
    width: 80.2em;
  }

  .copy {
    margin-left: 27.9em
  }

  #info {
    width: 19.2em;
    height: 27.2em;
    bottom: 5.5em;
    left: 5.5em;
  }

  #wndow-sctn_1 > .copy,
  #wndow-sctn_2 > .copy,
  #wndow-sctn_5 > .copy,
  #wndow-sctn_6 > .copy {
    width: 76.25em;
    margin-left: 11.5em;
  }

  #wndow-sctn_3 > .copy,
  #wndow-sctn_4 > .copy {
    width: 58.25em;
    margin-left: 27.75em;
  }

  #sctn_1-desc-1 {
    left: 18.4em;
  }

  #sctn_1-desc-2 {
    left: 0em;
  }

  #sctn_1-desc-3 {
    left: 36.25em !important;
  }

  .sctn_2-spcr {
    display: inline-block;
  }

  .sctn_2-blok-2 {
    width: 71em;
    height: 13.45em;
    left: 0;
  }

  #sctn_6-info-2 > div {
    width: 29.75em;
  }

  .sctn_6-spcr {
    width: 35.5em;
    height: 1.35em;
    float: left;
    clear: none;
  }

  .sctn_6-blok-2 > div {
    width: 12em;
  }

}

@media screen and (min-width: 1260px) and (min-height: 980px) {
  /* This CSS breakpoint affects browsers which have a width more than 1260px and a height greater than 980px. 
  * This breakpoint is optimized to fit resolutions of 1280x1024.
  */

  #info {
    height: 28.1em;
    bottom: 12.5em;
  }
}

@media screen and (min-width: 1340px) and (max-width: 1890px) {
  /* This CSS breakpoint affects browsers which have a width more than 1340px and a width less than 1890px. 
  * This breakpoint is optimized to fit resolutions of 1366x768px and 1600x900px.
  */
  
  #cntnr {
    width: 85.38em;
  }

  #bkgrnd {
    width: 85.38em;
  }

  .headr {
    width: 85.38em;
  }

  .copy {
    height: 39.85em;
    font-size: 0.95em;
  }

  #info {
    width: 19.5em;
    height: 27.2em;
    bottom: 8.75em;
    left: 8.75em;
  }

  #wndow-sctn_1 > .copy {
    width: 79em !important;
    margin-left: 9.75em;
  }

  #wndow-sctn_2 > .copy {
    width: 75.5em !important;
    margin-left: 13.25em;
  }

  #wndow-sctn_3 > .copy, 
  #wndow-sctn_4 > .copy {
    width: 62.5em !important;
    margin-left: 26.5em;
  }

  #wndow-sctn_5 > .copy {
    width: 79.5em !important;
    margin-left: 9.25em;
  }

  #wndow-sctn_6 > .copy {
    width: 78.5em !important;
    margin-left: 10.25em;
  }
  
  #sctn_1-desc-1 {
    left: 17em;
  }

  .sctn_2-spcr {
    display: inline-block;
  }

  .sctn_2-blok-2 {
    width: 62.25em;
    height: 13.45em;
    left: 0;
  }

  .sctn_2-blok-2 > span + div > span {
    padding-top: 1.75em;
  }

  .sctn_4-blok > div {
    top: -0.59em;
  }

  .sctn_6-blok-2 {
    height: 12em !important;
    margin-bottom: 1em;
  }

  .sctn_6-blok-2 > div {
    width: 12.05em !important;
  }

  #sctn_6-info-2 > div {
    width: 29.75em !important;
  }

  .sctn_6-spcr {
    width: 72em;
    height: 0.8em;
    float: left;
    clear: none;
  }
}

@media screen and (min-width: 1910px) {
  /* This CSS breakpoint affects browsers which have a width more than 1910px.. 
   * This breakpoint is optimized to fit resolutions of 1920x1020px.
   */

  .headr {
    width: 120em;
  }

  .copy {
    width: 121.8em !important;
    height: 59.35em;
    margin-left: 11.5em;
  }
  
  #wndow-sctn_2 > .copy {
    width: 93.2em !important;
    margin-left: 25.75em;
  }

  #wndow-sctn_3 > .copy , 
  #wndow-sctn_4 > .copy {
    width: 79.2em !important;
    margin-left: 39.75em;
  }

  #wndow-sctn_5 > .copy {
    width: 98.5em !important;
    margin-left: 20.5em;
  }  
  
  #wndow-sctn_6 > .copy {
    width: 97em !important;
    margin-left: 22em;
  }

  .sctn_1-blok, 
  .sctn_2-blok, 
  .sctn_2-blok-2, 
  .sctn_3-blok,
  .sctn_4-blok,
  .sctn_5-blok > p, 
  #sctn_5-desc-3 > span + span + span ~ span span, 
  #sctn_6-desc-1 > p, 
  .sctn_6-blok-2 > span {
    font-size: 1.1em;
  }

  .sctn_1-blok, 
  .sctn_3-blok, 
  .sctn_4-blok {
    position: relative;
  }

  .sctn_1-blok {
    left: 31.75em !important;
  }

  .sctn_3-blok, 
  .sctn_4-blok {
    left: 0 !important;
  }
  
  #sctn_1-desc-1  {
    left: 25.75em !important;
    position: absolute;
  }

  #sctn_1-desc-2 {
    left: 0 !important;
  }

  #sctn_1-desc-3 {
    left: 25.5em !important;
  }

  .sctn_2-spcr {
    display: inline-block;
  }

  .sctn_2-blok-2 {
    width: 62em;
    height: 13.1em;
    left: 0;
  }

  .sctn_2-blok-2 > span + div {
    width: 61.25em;
  }

  .sctn_2-blok-2 > span > div {
    width: 81.8em;
    height: inherit;
  }

  .sctn_2-blok-2 > span + div > span:first-of-type {
    margin-left: 0;
  }

  .sctn_2-blok-2 > span + div > span {
    padding: 2em 2em 1.1em 2em;
  }
  
  .sctn_3-blok, 
  .sctn_4-blok, 
  .sctn_5-blok,
  #sctn_5-desc-2,  
  .sctn_6-blok,
  .sctn_6-blok-2 {
    width: 32.5em;
  }
  
  .sctn_3-blok > span {
    font-size: 2em;
  }
  
  .sctn_4-blok div {
    top: -0.6em !important;
  }

  #sctn_5-desc-3 > span {
    padding: 1.67em;
  }

  #sctn_5-desc-3 > span + span + span ~ span span {
    margin-top: 0.6em;
  }

  .sctn_6-blok {
    margin-right: 4.5em;
  }

  #sctn_6-desc-1 > p {
    line-height: 1.8em;
  }

  .sctn_6-spcr {
    width: 36.5em;
  }

  .sctn_6-blok-2 {
    width: 17em;
  }

  .sctn_6-blok-2 > div {
    width: 13.75em;
  }

  #sctn_6-info-1 {
    width: 28.8em;
    left: 41em;
    clear: both;
  }

  #sctn_6-info-1 > span {
    width: 24em;
    margin: 0 auto;
  }

  #sctn_6-info-1 > span > span {
    font-size: 1.25em;
  }

  #sctn_6-info-2 > div {
    width: 29.5em;
    margin-top: 10em;
    left: 3.7em;
  }
}

html[data-useragent*='Windows NT 6.3'] .sctn_4-blok > div {
  top: -0.6em;
}