/* Filename: main.scss 
 *  + Contains the CSS styling for all of the static visual elements of the 'One Page' template
 *  !!! NOTE !!! Does not contain styling for the navigation or form elements 
 * 
 *  + All measurements are given in terms of 'em'.
 * 
 *  + The responsive breaklines fall according to the following browser dimensions:
 *    - 1920x1020
 *    - 1366x768
 *    - 1280x1024
 *    - 1280x800
 *    - 1024x1500
 *    - 980x1740
 *    - 980x1308
 * ******************************************************************************************** */

/* ****** SASS VARIABLES ****** */

$landing_li_text_color: #FBE7E9;
$landing_li_background_color: #632E22;

$article_2_ul_border: 0.188em solid #897042; // 3px

$h1_article_1_color: #92676C;
$content_block_p_1_color: #58262C;
$content_desc_background_1_color:  #E7D4C8;
$content_desc_background_2_color: #E7DCC8;
$content_desc_background_3_color: #DEC0C3;
$content_desc_text_2_color: #6D5647;
$content_desc_text_3_color: #694448;

$h1_article_2_color: #744725;
$content_block_2_background_1_color: #D9C296;
$content_block_2_background_2_color: #745925;
$content_block_2_background_3_color:#B19563;
$content_block_2_text_color: #523A0E;

$h1_article_3_color: #B7A68E;
$content_block_3_background_1_color: #988366;
$content_block_3_background_2_color: #987566;
$content_block_3_background_3_color: #988C66;
$content_block_3_background_4_color: #988366;
$content_block_3_text_1_color: #D9CDBC;
$content_block_3_text_2_color: #FFFCFB;
$content_block_3_text_3_color: #FFFBEE;
$content_block_3_text_4_color: #FFF8EE;

$h1_article_4_color: #C8586A;
$content_block_4_background_1_color: #A33042;
$content_block_4_background_2_color: #FFD6BC;
$content_block_4_background_3_color: #FBBC95;
$content_block_4_background_4_color: #FBD595;

$content_block_4_text_1_color: #FBDADF;
$content_block_4_text_2_color: #AC6133;
$content_block_4_text_3_color: #AC7F33;

$content_block_4_div_1_text_color: #FBBC95;
$content_block_4_div_2_text_color: #FFF2DE;

$content_block_4_span_1_text_color: #D48B5D;
$content_block_4_span_2_text_color: #AC7F33;
$content_block_4_span_3_text_color: #D3A75D;

$h1_article_5_color: #3C667B;
$content_block_5_background_1_color: #96C5AA;
$content_block_5_background_2_color: #5F8395;
$content_block_5_background_3_color: #96C5AA;
$content_block_5_text_1_color: #216F43;
$content_block_5_text_2_color: #408B61;
$content_block_5_div_1_color: #C1D1D9;

$h1_article_6_color: #A7AB92;
$content_block_6_background_1_color: #A7AB92;
$content_block_6_background_2_color: #971B1E;
$content_block_6_background_3_color: #B0AE97;
$content_block_6_background_4_color: #302E1E;
$content_block_6_background_5_color: #A7AB92;
$content_block_6_text_1_color: #2A2E13;
$content_block_6_text_2_color: #FFFFFF;
$content_block_6_text_3_color: #2C2F1E;
$content_block_6_span_background_1_color: #302E1E;
$content_block_6_span_text_1_color: #B0AE97;

$form_question_p_border: 0.125rem solid #cfd7a3; // 2px
$form_question_footnote_border: 0.125rem dotted #cfd7a3; // 2px
$form_fieldset_border: 0.125rem solid #cfd7a3; // 2px
$form_alert_border: 0.125rem solid #fff; // 2px
$form_background_color: #ffffff;
$form_alert_background_1_color: #dddddd;
$form_alert_background_2_color: #971b1e;
$form_alert_font_color: #ffffff;

$input_border: 0.125rem solid #369DBF; // 2px
$input_background_1_color: #40BDE8;
$input_background_2_color: #33CCFF;
$input_font_color: #221763;

$span_background_image_article_5: url('/assets/img/article/5/sprite-insurance_comps.png');

$base_font: 'Glegoo', 'Palatino', serif;
$header_font: 'Balthazar', 'Cambria', serif;
$form_question_font: "Franklin Gothic Medium", sans-serif;

$base_font_size: 1rem; // 14pt
$header_font_size: 2.5rem; // 30pt
$lg_h2_font_size: 2.5rem; // 30pt
$form_question_font_size: 1.2rem; // 14pt
$form_alert_font_size: 2.5rem; // 30pt
$form_question_sup_font_size: 0.8rem; // 10pt

$base_font_weight: 400;
$header_font_weight: 600;
$semibold_font_weight: 600;
$bold_font_weight: 700;

$margin_value_1: 0.75rem; // 12px
$margin_value_2: 1rem; // 16px
$margin_value_3: 1.25rem; // 20px

$padding_value_1: 0.75rem; // 12px
$padding_value_2: 1rem; // 16px
$padding_value_3: 1.25rem; // 20px
$padding_value_4: 2rem; // 32px

$line_height: 1.6;



/* ****** COMMON ELEMENTS ****** */

.div-content, 
aside ul  {
  font-family: $base_font;
  font-weight: $base_font_weight;
  font-size: $base_font_size;
}

h1 {
	position: absolute;
	display: table;
  // opacity: 0;
/* Formats the <div> which holds the 'SECTION' title for a given section. */

  span {
    display: table-cell;
    vertical-align: middle;
    font-family: $header_font;
    font-weight: $header_font_weight;
    font-size: $header_font_size;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
  }
  /* 
  * Formats the <span> element which holds the text of a 'SECTION' title. 
  */
}

.div-content {
  display: none;
  position: relative;
  float: left;
  top: 0;
  left: 0;
}
/* 
 * Formats the <div> which holds the text or form content within a section. 
 * '.div-content' elements differ from '.article-content' elements.
 * '.div-content' elements only hold the content of one sub-section, 
 * while '.article-content' elements hold many sub-sections.
 */

.div-content-visible {
  display: block;
}

.div-content-block-1 {
	width: 32.5em;
	height: initial;
	padding: 1em 2em;
	position: absolute;
	z-index: 2;
	// opacity: 0;
}
/* Formats the main 'blocks' which hold <p> elements which contain text content. 
 * The blocks, using the above classed, are contained within sections, 1, 3, 4, & 6 
 * are formatted in this pairing. 
 */



/* ****** FORMS ****** */

.div-content-column {
	height: auto;
  display: inline-block;
}
/* Formats a <div> element which places a form question either on the left or right 
 * side of the browser window and is contained within a <form> element.
 * Forms can be found within 'SECTION #1', 'SECTION #5', & 'SECTION #6'.
 */

fieldset {
	margin: $margin_value_2;
	padding: $padding_value_3;
  border: $form_fieldset_border;
  
  div {
    margin: 0 auto;
  }
  /* Formats <div> elements which appear within <fieldset> elements. */
}
/* Formats <fieldset> elements which contain form options. */

input[type=button],
input[type=submit] {
	width: 7.81rem; // 125px
	height: 3.125rem; // 50px
	margin: 0 0 0 $margin_value_3;
	float: right;
  background-color: $input_background_1_color;
  font-family: $form_question_font;
  font-size: $form_question_font_size;
	color: $input_font_color;
	border: $input_border;
	cursor: pointer;
}
/* Formats which appear as buttons throughout the webpage. */

input[type=button]:hover,
input[type=submit]:hover {
	background-color: $input_background_2_color;
}
/* Formats the click-state for the <button> and <submit> elements which appear 
 * throughout the webpage.
 * This is the hover click state.
 */

.div-form-question {
  height: auto;
  background-color: $form_background_color;

  span {
    display: inline;
  }
  /* Formats <span> elements which contain text headers. */
  
  span:first-child {
    display: block;
  }
  /* Formats the first <span> element which is contained within a given form question. */

  span + span {
    padding-bottom: 1.1rem; // 18px
    font-size: $base_font_size;
    font-weight: $header_font_weight;
    line-height: $line_height;
  }
  /* Formats the additional <span> elements which are contained within a given form question. */

  span + p {
    margin-top: $margin_value_1;
    padding-top: $padding_value_1;
    border-top: 2px solid #cfd7a3;
    line-height: $line_height;
  }
  /* Formats <p> elements which contain text instructions or descriptive copy for a given 
    * form question. 
    */

  fieldset { 
    div { 
      span {
        position: relative;
        top: -0.625rem; // 10px
        font-family: $form_question_font;
        font-size: $base_font_size;
      }
      /* Formats the visual appearance of text within <span> elements which are contained 
       * within an individual form question. 
       */
    }

    span + span {
      left: 0.813rem; // 13px
    }
    /* More formatting for the text within <span> elements which follow the first <span> element 
     * within an individual form question. 
     */

     sup {
      font-size: $font_question_sup_font_size;
    }
    /* Formats the text within a <sup> element that is contained 
     * within an individual form question. 
     */

    .p-form-ftnote {
      padding: $padding_value_1;
      border-top: $form_question_footnote_border;
      font-size: 0.9em;
      line-height: 1.6em;
    }
    /* Formats descriptive text that falls underneath the instruction within a given 
    * form question.
    */

    .div-form-page-1, 
    .div-form-page-2 {
      display: none;
      opacity: 0;
    }
    /* Formats <div> elements which control which set of two questions are displayed 
    * within the browser window at a given time.
    */

    #form-question-alert {
      width: inherit;
      height: inherit;
      display: table;
      position: absolute;
      background-color: $form_alert_background_1_color;
      opacity: 0.95;
      z-index: 7;

      div {
        display: table-cell;
        font-family: $base_font;
        font-size: $font_question_sup_font_size;
        vertical-align: middle;
        text-align: center;

        div {
          margin: 0 auto;
          padding: $padding_value_2 $padding_value_4;
          text-align: left;
          background-color: $form_alert_background_2_color;
          color: $form_alert_font_color;

          span {
            display: block;
            border-bottom: $form_alert_border;
            font-size: $form_alert_font_size;
            font-weight: $header_font_weight;
            text-align: left;
          }
          /* Formats a <span> element which serves as a header for descriptive text about 
           * an error returned from a form submission.
           */

          p {
            text-align: left;
          }
          /* Formats descriptive text within a <p> element that is contained by a <div> 
           * element using the id, "#form-question-alert".
           */
        }
        /* Formats a <div> element which contains descriptive text about an error returned 
         * from a form submission. 
         */
      }
      /* Formats descriptive text within a <div> element that appears once a form 
       * has been submitted which returns an error message.
       */
    }
    /* Formats a <div> element which appears once a form has been submitted 
     * which returns an error message. 
     */
  }
}
/* Formats a <div> element which contains an individual form question. */

#button-article-1-start {
	margin: 0 0 0.8rem 0;
	position: relative;
}
/* Formats a <button> element which appears on the landing page of 'SECTION #1'.
 * The button 'starts' the form process.
 */

#submit-form-article-5 {
	margin: 0.35em 0 0.7em 0;
}
/* Formats the <submit> element which submits the form, 'FORM TYPE #5'. */

#button-article-5-contact {
  margin: 0 0 0.7em 0;
  letter-spacing: -0.7px;
}
/* Formats the <button> element which appears on the response page of the form, 
 * 'FORM TYPE #5'.
 */

#button-article-6-map {
  margin: 0;
}
/* Formats a <button> element which appears on the landing page of 'SECTION #6'. */

#button-article-6-start {
  margin: 0.7em 0 0.7em 0;
  letter-spacing: -1.9px;
}
/* Formats a <button> element which appears on the landing page of 'SECTION #6'.
 * This button starts the form process. 
 */

#submit-form-article-6 {
	letter-spacing: -0.7px;
}
/* Formats a <submit> element which appears within, 'FORM TYPE #6', which appears 
 * within 'SECTION #1'.
 */

/* ****** CONTAINER ELEMENTS ****** */

body {
  margin: 0;
	padding: 0;
	overflow-x: hidden;
}
/* 
  Formats the <body> HTML tag 
  + The 'overflow-x' attribute hides the horizontal scroll bar as intra-section navigation 
    takes place or the main navigation menu animates.
*/

main {
  width: initial;
  height: initial;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	clear: both;
	z-index: 1;
}
/* Formats the HTML element, 'main', which holds all of the copy and form content. */

.article-content {
	padding: 0;
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
}
/* 
 * Formats the HTML elements, 'article' which holds the text and form content of 
 * a particular 'SECTION' or segment of content organized by a similar theme. 
 */

 #div-backgrounds {
	position: absolute;
	top: 0;
  left: 0;
	z-index: 0;
}
/* 
 * Formats the <div> which hold the background images for the 'SECTIONS' of 
 * content. 
 */

 #div-backgrounds > div {
  background-repeat: no-repeat;
}
/* 
 * Formats the <div> elements which hold the background images 
 * for the individual sections.
 */


/* ****** LANDING SECTION ****** */
 
aside {
	position: absolute;
	float: right;
  // opacity: 0;

  img {
    margin: 0 1.7em;
    padding: 1.7em;
    display: none;
    position: relative;
    float: left;
    background-color: #967348;
    // opacity: 0;
  }
  /* Formats the logo which is contained within the <aside> HTML element. */

  ul {
    margin: 0.25em 0 0 0;
    padding: 0;
    display: none;
    position: relative;
    float: left;
    font-size: 1.1em; // 13pt
    font-weight: $base_font_weight;
    // opacity: 0;
  }
  /* Formats the list which is contained within the <aside> HTML element. */
  
  li {
    height: 1.65em;
    margin: 1em 0;
    padding: 0.6em 0 0 0;
    display: none;
    text-align: center;
    color: $landing_li_text_color;
    background-color: $landing_li_background_color;
    // opacity: 0;
  }
  /* Formats the list-items which are contained within the <div> using the selctor, "#info". */
}
/* 
 * Formats an <aside> which contains the logo and a brief list 
 * of selling points.
 * + Opacity is set to '0' to allow for a fade-in by by a jQuery event.
 */


/* ****** SECTION #1 ****** */
 
#h1-header-article-1 {
	background-color: $h1_article_1_color; 
}
/* Formats the color of the <h1> which holds the title of 'SECTION #1'. */

.div-content-block-1 { 
  h2 {
    width: 100%;
    padding-bottom: 0.25em; // 4px
    display: inline-block;
    border-bottom: 2px solid;
    font-weight: $bold_font_weight;
  }
  /* 
   * Formats a <h2> element which contains a text header for an individual response from 
   * 'FORM TYPE #1. The <span> elements appear within the <div> elements using the selectors, 
   * '#div-content-block-1-desc-2' & '#div-content-block-1-desc-3'.
   */

  p {
    margin-bottom: 2.0em; // 32px
/*     text-indent: 1.3em; // 21px
 */    line-height: $line_height;
    color: $content_block_p_1_color;
  }
  /* 
   * Formats the <p> elements which hold the text content that is contained by a <div> element
   * using the class, '.div-content-block-1'.
   */

  p ~ p {
    margin-bottom: 1.7em; // 27px
    padding-bottom: 1.5em; // 24px
    border-bottom: 0.188em solid; // 3px
  }
  /* More formatting for the <p> elements which hold text content. */
}

#div-content-block-1-desc-1 {
	background-color: $content_desc_background_1_color;
}
/* 
 * Contains formating for a block of text appearing in the first section.
 * Appears within the 'FIRST WINDOW PANE' or first sub-section of 'SECTION #1' 
 */

#div-content-block-1-desc-2 {
	background-color: $content_desc_background_2_color;
	color: $content_desc_text_2_color;
}
/* 
 * Contains formating for a block of text appearing in the first section.
 * Appears within the 'THIRD WINDOW PANE' or third sub-section of 'SECTION #1' 
 */

#div-content-block-1-desc-3 {
	background-color: $content_desc_background_3_color;
	color: $content_desc_text_3_color;
} 
/* 
 * Contains formating for a block of text appearing in the first section.
 * Appears within the 'FOURTH WINDOW PANE' or fourth sub-section of 'SECTION #1' 
 */


/* ****** SECTION #2 ****** */

#h1-header-article-2 {
	background-color: $h1_article_2_color; 
}
/* Formats the color of the <h1> which holds the title of 'SECTION #2'. */

.div-content-block-2 {
	height: auto;
  margin-right: 4.5em;
	padding: 1em;
  display: inline-block;
  background-color: $content_block_2_background_1_color;
	text-align: center;
  // opacity: 0;

  img {
    margin-bottom: 0.4em; // 7px
  }
  /* Formats an image which is contained within the blocks. */

  ul {
    width: 63.44em; // 1,015px
    margin: 0.35em auto; // 6px auto
    padding: 0;
    list-style-type: none;
    border-top: $article_2_ul_border;

    li {
      margin: 0.5em;
      color: $content_block_2_text_color;
    }
    /* Formats the list-items which appears within the blocks. */

    li:first-child {
      font-weight: $semibold_font_weight;
    }
    /* More formatting for the first list-item which appears within blocks. */
  }
  /* Formats the list which appears within the blocks. */
}
/* Formats the blocks which contain the largest and above the secondary blocks within 'SECTION #2'. */

.div-content-block-2-type-1 {
  height: auto;
  margin: 0;
  position: relative;
  float: left;
  clear: both;
  // opacity: 0;
  
  span {
    display: block;
    padding: 1em;
    margin: 0 auto;
    background-color: $content_block_2_background_2_color;
    font-size: 1.1em;
    font-weight: $semibold_font_weight;
    text-align: center;
    color: #d9c296;
  }
  /* 
   * Formats a block which serves as a 'header' for the secondary blocks 
   * contained within 'SECTION #2'. 
   */
  
   span + div {
    height: inherit;
    margin: 0 auto;
    position: relative;

    span {
      display: block;
      float: left;
      text-align: center;
      font-weight: $semibold_font_weight;
      color: $content_block_2_text_color;
      background-color: $content_block_2_background_3_color;
    }
    /* 
     * Formats the text content of the secondary blocks that appear near the bottom of the 
     * landing page for 'SECTION #2'. 
     */
  }
  /* 
   * Formats a block which serves as a container for secondary information 
   * within 'SECTION #2. 
   */

   .div-spacer-article-2 {
    width: 0.1em; // 2px
    height: 4em; // 64px
  }
  /* 
   * Formats a spacer which reorders the content contained within 'SECTION #2'. 
   * The spacer changes dimensions based on breakpoint of the browser.
   */
}
/* Formats the secondary blocks that appear below the larger, main blocks in 'SECTION #2'. */


/* ****** SECTION #3 ****** */

#h1-header-article-3 {
	background-color: $h1_article_3_color; 
}
/* Formats the color of the <h1> which holds the title of 'SECTION #3'. */

.div-content-block-3 { 
  h2 {
    display: block;
    padding-bottom: 0.1em; // 2px
    border-bottom: 0.1em solid; // 2px
    font-size: $lg_h2_font_size;
    font-weight: $semibold_font_weight;
  }
  /* 
   * Formats a text header for the block within each sub-section. The <h2> elements appear 
   * within the <div> elements using the selectors, 
   * '#div-content-block-3-desc-2', '#div-content-block-3-desc-3', & 
   * '#div-content-block-3-desc-4'.
   */
} 

#div-content-block-3-desc-1 {
  background-color: $content_block_3_background_1_color;
  color: $content_block_3_text_1_color;
}
/* Formats a block which is contained within the 'FIRST WINDOW PANE' of 'SECTION #3'. */

#div-content-block-3-desc-2 {
  background-color: $content_block_3_background_2_color;
  color: $content_block_3_text_2_color;
}
/* Formats a block which is contained within the 'FIRST WINDOW PANE' of 'SECTION #3'. */

#div-content-block-3-desc-3 {
  background-color: $content_block_3_background_3_color;
  color: $content_block_3_text_3_color;
}
/* Formats a block which is contained within the 'THIRD WINDOW PANE' of 'SECTION #3'. */

#div-content-block-3-desc-4 {
	background-color: $content_block_3_background_4_color;
  color: $content_block_3_text_4_color;
}
/* Formats a block which is contained within the 'FOURTH WINDOW PANE' of 'SECTION #3'. */


/* ****** SECTION #4 ****** */

#h1-header-article-4 {
	background-color: $h1_article_4_color; 
}
/* Formats the color of the <h1> which holds the title of 'SECTION #4'. */

.div-content-block-4 { 
  p {
    text-indent: 1em; // 16px
    line-height: $line_height;
  }
  /* 
   * Formats <p> elements which are contained with an individual block contained 
   * within 'SECTION #4'.
   */

   div {
    position: absolute;
    top: -0.3em;
    left: 0.06em;
    font-size: 12em;
  }
  /* Formats <div> elements which appear as quotation marks above the blocks 
   * contained within 'SECTION #4'.
   */
   
   span {
    width: 100%;
    display: block;
    padding-top: 0.3em; // 5px
    border-top: 0.188em solid; // 3px
    font-size: 1.25em; // 24pt
    font-weight: $bold_font_weight;
    text-align: right;
  }
  /* Formats a  text header for the 'block' within each sub-section. The <span> elements 
   * appear within the <div> elements using the selectors, 
   * '#div-content-block-4-desc-2', '#div-content-block-4-desc-3', & 
   * '#div-content-block-4-desc-4'.
   */
}

#div-content-block-4-desc-1 {
	background-color: $content_block_4_background_1_color;
  color: $content_block_4_text_1_color;
}
/* Formats a block which is contained within the 'FIRST WINDOW PANE' of 'SECTION #4'. */

#div-content-block-4-desc-2 {
	background-color: $content_block_4_background_2_color;
  color: $content_block_4_text_2_color;

  div {
    color: $content_block_4_div_1_text_color;
  }
  /* 
   * Formats the quotation marks which appear above the block within the 
   * 'SECOND WINDOW PANE' of 'SECTION #4'. 
   */
  
  span {
    color: $content_block_4_span_1_text_color;
  }
  /* 
   * Formats a <span> element which are contained within a block within 
   * the 'SECOND WINDOW PANE' of 'SECTION #4'. 
   */
}
/* Formats a block which is contained within the 'SECOND WINDOW PANE' of 'SECTION #4'. */

#div-content-block-4-desc-3 {
	background-color: $content_block_4_background_3_color;
  color: $content_block_4_text_2_color;

  div {
    color: $content_block_4_div_2_text_color;
  }
  /* 
   * Formats the quotation marks which appear above the block within the 
   * 'SECOND WINDOW PANE' of 'SECTION #4'. 
   */
  
  span {
    color: $content_block_4_span_2_text_color;

    span {
      display: block;
      background-image: $span_background_image_article_5;
      background-position: 0px 0px;
    }
    /* Formats a <span> element which contain a logo. This logo is contained by 
     * the block which appears on the upper-left, underneath the header block.
     */
  }
  /* 
   * Formats a <span> element which are contained within a block within 
   * the 'SECOND WINDOW PANE' of 'SECTION #4'. 
   */

   span + span > span {
    background-position: 0px -28px;
  }
  /* Formats a <span> element which contain a logo. This logo is contained by 
   * the block which appears on the upper-middle, underneath the header block.
   */

   span + span + span > span {
    background-position: 0px -47px;
  }
  /* Formats a <span> element which contain a logo. This logo is contained by 
   * the block which appears on the upper-right, underneath the header block.
   */

   span + span + span ~ span span {
    text-align: center;
    background-image: none;
  }
  /* Formats <span> elements which contain text. Theses elements appear
   * below a row of <span> elements which contain logos.
   */
}
/* Formats a block which is contained within the 'THIRD WINDOW PANE' of 'SECTION #4'. */

#div-content-block-4-desc-4 {
	background-color: $content_block_4_background_4_color;
  color: $content_block_4_text_2_color;

  div {
    color: $content_block_4_div_2_text_color;
  }
  /* 
   * Formats the quotation marks which appear above the block within the 
   * 'SECOND WINDOW PANE' of 'SECTION #4'. 
   */
  
  span {
    color: $content_block_4_span_3_text_color;
  }
  /* 
   * Formats a <span> element which are contained within a block within 
   * the 'SECOND WINDOW PANE' of 'SECTION #4'. 
   */

  p {
    border-bottom: 0.13em solid; // 2px
  }
  /* Formats the <p> element which appears in the block underneath the collection of <span> elements 
   * containing logos and text.
   */
}
/* Formats a block which is contained within the 'THIRD WINDOW PANE' of 'SECTION #4'. */


/* ****** SECTION #5 ****** */

#h1-header-article-5 {
	background-color: $h1_article_5_color; 
}
/* Formats the color of the <h1> which holds the title of 'SECTION #3'. */

.div-content-block-5-type-1 {
	position: relative;
  // opacity: 0;
}
/* Formats the blocks which are contained with 'SECTION #5'. */

#div-content-block-5-desc-1 {
  float: left;
	background-color: $content_block_5_background_1_color;
	color: $content_block_5_text_1_color;
}
/* 
 * Formats the block which contains text content but does not include a <button> element 
 * which appears within the 'FIRST WINDOW PANE' of 'SECTION #5'. 
 */

 #div-content-block-5-header-1 {
	position: relative;
  float: left;
  background-color: $content_block_5_background_2_color;
}
/* Formats the block which serves as a header which appears within the 'FIRST WINDOW PANE' 
 * of 'SECTION #5'. 
 */

#div-content-block-5-header-2 {
	background-color: $content_block_5_background_3_color;
  color: $content_block_5_text_2_color;
  
  span {
    display: block;
    font-size: 2em;
    font-weight: $bold_font_weight;
    text-align: center;
  }
  /* Formats the text of the block which serves as a header for the content contained 
   * within the 'THIRD WINDOW PANE' of 'SECTION #5'. 
   */
}
/* Formats the block which serves as a header for the content that is contained 
 * within the 'THIRD WINDOW PANE' of 'SECTION #5'.
 */

#div-content-block-5-desc-2 {
  float: left;

  span {
    display: inline-block;
    background-repeat: no-repeat;
    background-color: $content_block_5_background_3_color;
  }
  /* Formats <span> elements which contains a logo or text content */

  span > span {
    display: block;
    background-image: url('/assets/img/article/5/sprite-insrance_comps.png');
    background-position: 0px 0px;
  }
  /* Formats a <span> element which contain a logo. This logo is contained by 
   * the block which appears on the upper-left, underneath the header block.
   */

   span + span > span {
    display: block;
    background-image: url('/assets/img/article/5/sprite-insrance_comps.png');
    background-position: 0px -28px;
  }
  /* Formats a <span> element which contain a logo. This logo is contained by 
   * the block which appears on the upper-middle, underneath the header block.
   */

   span + span + span > span {
    display: block;
    background-image: url('/assets/img/article/5/sprite-insrance_comps.png');
    background-position: 0px -47px;
  }
  /* Formats a <span> element which contain a logo. This logo is contained by 
   * the block which appears on the upper-right, underneath the header block.
   */

   span + span + span ~ span span {
    text-align: center;
    background-image: none;
  }
  /* 
   * Formats <span> elements which contain text. Theses elements appear
   * below a row of <span> elements which contain logos.
   */
}
/* Formats a <div> element which serves as a container for various <span> elements 
 * which contain either logos or text. 
 */

 #div-content-block-5-desc-4 {
  float: left;
  background-color: #216F43;

  span {
    width: 100%;
    height: 225px;
    display: table;
    float: 1em;

    span {
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      sup {
        position: absolute;
        top: 55px;
        font-size: 2.5em;
        color: #C8CBDF;

        span {
          font-size: 10em;
          letter-spacing: -10px;
          color: #fff;
        }
        /* 
         * Formats the numberical value that appears in the block below the block that serves as a header  
         * within the 'THIRD WINDOW PANE' of 'SECTION #5'. 
         */

         span + span {
          font-size: 1.5em;
          letter-spacing: 0;
          color: #96C5AA;
        }
        /* 
         * Formats the text, '/hour', that appears in the below the block that serves as a header 
         * within the 'THIRD WINDOW PANE' of 'SECTION #5'. 
         */
      }
      /* 
       * Formats the dollar sign that appears in the block below the block that serves as a header  
       * within the 'THIRD WINDOW PANE' of 'SECTION #5'. 
       */
    }
    /* 
     * Formats a block that serves as a container for text copy that appears below the block 
     * that serves as a header within the 'THIRD WINDOW PANE' of 'SECTION #5'. 
     */
  }
  /* 
   * Formats a block that serves as a container for text copy that appears below the block 
   * that serves as a header within the 'THIRD WINDOW PANE' of 'SECTION #5'. 
   */
}
/* 
 * Formats a block that appears below the block that serves as a header 
 * within the 'THIRD WINDOW PANE' of 'SECTION #5'.
 */

#div-content-block-5-desc-5 {
  float: left;
  background-color: #C8CBDF;
  color: #2A326B;

  p {
    font-size: 0.95em; // 11pt
    border-bottom: 0.13em solid; // 2px
  }
  /* 
   * Formats <p> elements which appear within a block that appears on the right of the page 
   * within the 'THIRD WINDOW PANE' of 'SECTION #5'. 
   */
}
/* 
 * Formats a block that appears on the right of the page within the 'THIRD WINDOW PANE' 
 * of 'SECTION #5'.
 */


/* ---- SECTION #6 ---- */

#h1-header-article-6 {
	background-color: $h1_article_6_color; 
}
/* Formats the color of the <h1> which holds the title of 'SECTION #4'. */

.div-content-block-6-type-1 {
  position: relative;
  float: left;
	// opacity: 0;
}
/* 
 * Formats the blocks which appears directly underneath the header within the 'FIRST WINDOW PANE' 
 * of 'SECTION #6'.
 */

 #div-content-block-6-desc-1 {
	background-color: $content_block_6_background_1_color;
  color: $content_block_6_text_1_color;

  p {
    line-height: $line_height;
    border-bottom: 0.31rem solid; // 3px
  }
  /* 
   * Formats the <p> elements which are contained by the block which appears directly underneath the header 
   * on the left hand side of the page within the 'FIRST WINDOW PANE' of 'SECTION #6'.
   */
}
/* 
 * Formats the block which appears directly underneath the header on the left hand side of the page 
 * within the 'FIRST WINDOW PANE' of 'SECTION #6'.
 */

#div-content-block-6-info-1 {
	position: relative;
  color: $content_block_6_text_2_color;
  background-color: $content_block_6_background_1_color;

  span {
    display: table;
    background: none;

    span {
      display: table-cell;
      background: none;
      text-align: center;
      font-size: $base_font_size;
      font-weight: $semibold_font_weight;
      color: $content_block_6_text_2_color;
      vertical-align: middle;
    }
    /* 
     * Formats a <span> element which is contained by the block which appears directly underneath the header 
     * on the right hand side of the page within the 'FIRST WINDOW PANE' of 'SECTION #6'.
     */
  }
  /* 
   * Formats a block that serves as a container for text copy that appears directly underneath the header 
   * on the right hand side of the page within the 'FIRST WINDOW PANE' of 'SECTION #6'. 
   */
}
/* 
 * Formats the block which appears directly underneath the header on the right hand side of the page 
 * within the 'FIRST WINDOW PANE' of 'SECTION #6'.
 */

 #div-content-block-6-desc-2 {
  float: left;
  // opacity: 0;

  div {
    float: left;
    background-color: $content_block_6_background_2_color;

    span {
      display: block;
      line-height: $line_height;
      color: $content_block_6_span_text_1_color;
    }
    /* Formats the text within blocks which contain office information within the 'FIRST WINDOW PANE' 
     * of 'SECTION #6'.
     */
  }
  /* 
   * Formats the blocks which contain office information within the 'FIRST WINDOW PANE' 
   * of 'SECTION #6'.
   */

  span {
    padding: 1em 1.7em;
    display: block;
    font-weight: $semibold_font_weight;
    color: $content_block_6_span_text_1_color;
    background-color: $content_block_6_span_background_1_color; 
  }
  /* 
   * Formats blocks which serve as headers for office information within the 'FIRST WINDOW PANE' 
   * of 'SECTION #6'.
   */
}
/* 
 * Formats the blocks which serve as headers for office information within the 'FIRST WINDOW PANE' 
 * of 'SECTION #6'.
 */

.div-content-block-6-type-2 {
  position: relative;

  div > div {
    float: left;

    span {
      display: block;
    }
    /* Formats <span> elements which contain location informtion which appears 
     * on the right hand side of the page within the 'FIRST WINDOW PANE' of 'SECTION #6'.
     */
  }
  /* Formats a block which serves as a container of <span> elements which appears on the right hand side 
   * of the page within the 'FIRST WINDOW PANE' of 'SECTION #6'.
   */
}
/* 
 * Formats a block which serves as a header for location informtion which appears 
 * on the right hand side of the page within the 'FIRST WINDOW PANE' of 'SECTION #6'.
 */

.div-spacer-article-6 {
  height: 1em;
  position: relative;
  clear: both;
}
/* Formats a block which spaces blocks within the 'FIRST WINDOW PANE' of 'SECTION #6'. */

#div-content-block-6-desc-3 {
	position: relative;
	background-color: $content_block_6_background_5_color;
	color: $content_block_6_text_3_color;
}
/* 
 * Formats a block which appears directly underneath the header within the 'SECOND WINDOW PANE' 
 * of 'SECTION #6'.
 */



/* ****** ****** ****** ****** ****** ****** ****** ****** 
                         BREAKPOINTS                                   
   ****** ****** ****** ****** ****** ****** ****** ****** */



/* ****** DESKTOP - 1366px WIDE ****** */

@media screen and (min-width: 1281px) and (max-height: 1366px)  {

  /* ****** COMMON ELEMENTS ****** */

  article {
    width: 84.25rem; // 1,348px
    height: 48rem; // 768px
  }

  h1 {
    width: 84.25rem; // 1348px
    height: 9rem; // 144px
    top: 3.13rem; // 50px

    span {
      width: 12em; // 192px
    }
  }

  .div-content {
    width: 84.25rem; // 1,348px
    height: 48rem; // 768px
    margin-top: 6rem; // 192px
  }

  .div-content-block-1 {
    width: 32.5rem; // 520px
    margin: 0 auto;
    position: relative;
  }



  /* ****** FORMS ****** */

  .div-content-column {
    width: 32.5rem; // 520px
    margin-right: 4.5rem;	// 72px
  }
  
  .div-form-question {
    margin-bottom: $margin_value_3;
    padding: $padding_value_4;

    span:first-child {
      margin-bottom: $margin_value_1;
    }
  }

  #form-question-alert {
    div {
      width: 22em; // 352px
      height: 10em; // 160px

      div {
        width: 36em; // 576px
        height: 15.75em; // 252px
      }
    }
  }

  fieldset {
    div {
      width: 20.3rem; // 325px
    }
  }



  /* ****** LANDING SECTION ****** */

  aside {
    width: 38.6em; // 618px
    height: 15.2em; // 243px
    bottom: 9.2em; // 147px
    left: 12.5em; // 200px

    li {
      width: 17.4em;
    }
  }

  
  /* ****** SECTION #1 ****** */
  
  .div-content-block-1 > h2 {
    font-size: $lg_h2_font_size;
  }

  
  /* ****** SECTION #2 ****** */
  
  .div-content-block-2 {
    width: 26.5em; // 424px
    min-width: 20em; // 320px
  }

  .div-content-block-2-type-1 {
    width: 66.35em; // 1,062px
    top: 4em; // 64px
    right: 17.5em; // 280px

    span + div {
      width: 53.5em; // 856px
      top: 1.5em; // 24px

      span {
        width: 15em; // 240px
        height: 4.69em; // 75px
        margin-left: 2.1em; // 34px
        padding-top: 2.5em; // 40px
      }
    }
  }

  
  /* ****** SECTION #3 ****** */

  .div-content-block-3 { 
    h2 {
      width: 100%;
    }

    p {
      text-indent: 1.3em; // 21px
      line-height: $line_height;
    }
    /* 
     * Formats <p> elements which are contained with an individual block contained 
     * within 'SECTION #3'.
     */
  }
  
  
  /* ****** SECTION #4 ****** */

  .div-content-block-4 { 
    div {
      top: -0.3em; // 5px
      left: 0.06em; // 1px
      font-size: 12em; // 144pt
    }
    /* Formats <div> elements which appear as quotation marks above the blocks 
     * contained within 'SECTION #4'.
     */
  }
  
  #div-content-block-4-desc-3 {
    span span {
      width: 6.56em; // 105px
      height: 1.69em; // 27px
      margin-top: 0.55em; // 9px
      
    }

    span + span > span {
      width: 6.56em; // 105px
      height: 1.25em; // 20px
      margin-top: 0.9em; // 14px
    }

    span + span + span > span {
      width: 6.56em; // 105px
      height: 2.81em; // 45px
      margin-top: 0;
    }

    span + span + span ~ span span {
      height: 2.81em; // 45px
      margin-top: 0.85em; // 14px
    }
  }
  
  #div-content-block-4-desc-4, 
  #div-content-block-5-desc-5 {
    p {
      padding-bottom: 0.9em; // 14px
    }
  }


  /* ****** SECTION #5 ****** */

  .div-content-block-5-type-1 {
    width: 28.9em; // 462px
    margin-right: 4.5em; // 72px
    padding: 1em 2em; // 16px 32px

    p {
      text-indent: 1.3em; //  21px
      line-height: 1.7em; // 27px
    }
    /* Formats the <p> elements which hold the text content that is contained by a <div> element
     * using the class, '.div-content-block-5-type-1'.
     */
  }

  #div-content-block-5-desc-2 { 
    span {
      width: 7.06em; // 113px
      height: 2.81em; // 45px
      padding: 1em;
    }

    span > span {
      width: 6.56em; // 105px
      height: 1.69em; // 27px
      margin-top: 0.55em;
    }

    span + span > span {
      width: 6.56em; // 105px
      height: 1.25em; // 20px
      margin-top: 0.9em; // 14px
    }

    span + span + span > span {
      width: 7.06em; // 113px
      height: 2.81em; // 45px
      margin-top: 0;
    }

    span + span + span ~ span span {
      height: 2.81em; // 45px
    }

  }

  #div-content-block-5-header-1 {
    width: 29em; // 464px
    margin-top: 2.5em; // 40px
    padding-bottom: 0;
  }

  #div-content-block-5-desc-4, 
  #div-content-block-5-desc-5 {
    min-height: 14.06em; // 225px
    margin-top: 1em; // 16px
  }


  /* ****** SECTION #6 ****** */

  .div-content-block-6-type-1 {
    margin-right: 2.5em; // 40px
    padding: 1em 2em; // 16px 32px
  }

  #div-content-block-6-desc-1 {
    padding: 1em 2em; // 16px 32px
    
    p {
      margin-bottom: 0.5em; // 8px
      padding-bottom: 1.2em; // 19px
    }
  }

  #div-content-block-6-info-1 {
    width: 28.9em; // 462px
    margin-top: 2.5em; // 40px
    padding-bottom: 0;

    span {
      width: 100%;
      padding-bottom: 0.75em; // 12px
    }
  }

  #div-content-block-6-desc-2 {
    width: 15.25em; // 244px
    height: 10.31em; // 165px
    margin-right: 2.5em; // 40px

    div {
      width: 7.5em; // 120px
      margin-top: 0.75em; // 12px
      padding: 1em 1.65em; // 16px 26px
    }
  }
  
  .div-content-block-6-type-2 {
    width: 32.8em; // 525px
    height: 12.15em; // 194px
    margin-top: 1em; // 16px

    div {
      width: 15.75em; // 252px

      div {
        width: 9.61em; // 154px
        margin: 0;
        padding: 0;
      }
  
    }
    /* Formats a block which serves as a container of location informtion which appears 
     * on the right hand side of the page within the 'FIRST WINDOW PANE' of 'SECTION #6'.
     */
  }

  .div-spacer-article-6 {
    width: 28.9em; // 462px
  }

  #div-content-block-6-desc-3 {
    padding: 1em 2em; // 16px 32px
    margin-bottom: 20em; // 320px
  }
}	