/* menu.css */
#menu {
	width: 20.45em;
	height: 1308px;
	top: 0;
	z-index: 2;
}

.menu-base {
  position: fixed;
  left: -20.45em;
}

.menu-click {
  position: absolute;
  left: 0px;
}

#menu-link {
	width: 50px;
	height: 50px;
	position: fixed;
	top: 25px;
	left: 25px;
	z-index: 5;
	background-image: url('/amelia/assets/img/menu/menu.png');
	background-repeat: no-repeat;
}

.menu-link-base {
	background-position: 0 0;
	cursor: default;
}

.menu-link-hover {
	background-position: 0 -50px;
	cursor: pointer;
}

.menu-link-click_1 {
	background-position: 0 -100px;
	cursor: pointer;
}

.menu-link-click_2 {
	background-position: 0 -150px;
	cursor: pointer;
}

#menu-bkgrnd {
	width: 20.45em;
	height: 1308px;
	position: absolute;
	top: 0;
	z-index: 3;
	background-color: #666;
}

#menu-brdr {
	width: 20.45em;
	height: 6.25em;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: #444;
}

#options {
	width: 17.25em;
	height: inherit;
	display: none;
	position: fixed;
	top: 105px;
	left: 25px;
	opacity: 0;
	z-index: 4;
}

.option-hover {
	background-color: #808080;
	color: #fff;
	cursor: pointer;
}

.option-click {
	background-color: #A6A6A6;
	color: #000;
}

#options > span {
	width: 9.45em;
	height: 2.35em;
	margin: 1em 1em 1em 0;
	padding: 1em;
	display: block;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
	background-color: #000;
	color: #fff;
	cursor: pointer;
}

#prev-sctn,
#next-sctn {
	width: 200px;
	height: 60px;
	position: fixed;
	left: 384px;
	bottom: 250px;
	z-index: 5;
	background-image: url('/amelia/assets/img/menu/next/resp/next-sctn.png');
  background-repeat: no-repeat;
}

#prev-sctn {
  top: 17px;
  padding-top: 30px;
  display: none;
  opacity: 0;
}

.base-prev-sctn {
  background-position: 0 0;
  cursor: default;
}

.click-prev-sctn {
  background-position: 0 -111px;
  cursor: pointer;
}

.base-next-sctn {
  background-position: 0 -209px;
  cursor: default;
}

.click-next-sctn {
  background-position: 0 -320px;
  cursor: pointer;
}

#prev-sctn > span,
#next-sctn > span {
	width: 180px;
	height: 40px;
	margin: 0 auto 50px auto;
	display: block;
	font-family: 'Franklin Gothic Medium', sans-serif;
  font-size: 0.8em;
	color: #fff;	
	text-align: center;
	line-height: 1.25em;
	letter-spacing: 1px;
}

div.sctn_nav {
	width: 980px;
	height: 135px;
	position: absolute;
	top: 630px;
	opacity: 0;
}
/*
#menu-sctn_6.sub_menu {
	position: relative;
	top: 150px;
}*/

div.sctn_nav > div {
	width: 740px;
	height: inherit;
	margin: 0 auto;
}

#menu-sctn_6 > div {
	width: 552px;
}

div.sctn_nav > div > span {
	width: 150px;
	height: 35px;
	display: block;
	position: relative;
	margin: 0 auto;
	background-position: 0px 0px;
	color: #fff;
	cursor: auto;	
} 

#menu-sctn_3 > div > span {
	background-image: url('/amelia/assets/img/menu/sctn_nav/sctn_3.png');
}

#menu-sctn_4 > div > span {
	background-image: url('/amelia/assets/img/menu/sctn_nav/sctn_4.png');
}

#menu-sctn_6 > div > span {
	background-image: url('/amelia/assets/img/menu/sctn_nav/sctn_6.png');
}

div.sctn_nav > div > span.base-sctn_nav {
	background-position: 0px 0px;
	cursor: default;
	opacity: 1;
}

div.sctn_nav > div > span.hover-sctn_nav {
	background-position: 0px -35px;
	cursor: pointer;
	opacity: 1;
}

div.sctn_nav > div > span.active-sctn_nav {
	background-position: 0px -70px;
	cursor: pointer;
	opacity: 1;
}

div.sctn_nav > div > span.click-sctn_nav {
	background-position: 0px -105px;
	cursor: pointer;
	opacity: 1;
}

div.sctn_nav > div > div {
	width: 552px;
	height: 80px;
	margin: 0 auto;
	position: absolute;
	display: none;
}

div.sctn_nav.sub_menu > div > div {
	width: 740px;
	margin: 0 auto;
}

div.sctn_nav > div > div > a {
	width: 150px;
	height: 22px;
	display: block;
	float: left;
	margin: 0 15px;
	padding: 3px 0 6px 0;
	background-color: #000;
	border: 2px solid #222;
	font: 400 1.25em "Franklin Gothic Medium", sans-serif;
	color: #fff;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	cursor: pointer; 
}

div.sctn_nav > div > div a:hover {
	background-color: #333;
}