/* Filename: nav.css 
 *  + Contains the CSS styling for all of the navigation elements of the 'One Page' template
 *  !!! NOTE !!! Does not contain styling for the content or form elements. 
 * 
 *  + All measurements are given in terms of 'em' except for background position values which are 
 *    given in terms of 'px'.
 * 
 *  + The responsive breaklines fall according to the following browser dimensions:
 *    - 1920x1020
 *    - 1366x768
 *    - 1280x1024
 *    - 1280x800
 *    - 1024x1500
 *    - 980x1740
 *    - 980x1308
 * ******************************************************************************************** */



/* ****** ****** ****** ****** ****** ****** ****** ****** 
                        SASS VARIABLES                                   
   ****** ****** ****** ****** ****** ****** ****** ****** */


$nav_icon_background_image: url('/assets/img/nav/nav.png');

$nav_background_color: #666;
$nav_border_color: #444;

$nav_options_a_font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

$nav_options_a_background_color: #000;
$nav_options_a_hover_background_color: #808080;
$nav_options_a_click_background_color: #A6A6A6;
$nav_options_a_font_color: #fff;

$nav_options_font_size: 1.25rem; // 15pt

$nav_intrasection_background_image: url('/assets/img/nav/next/resp/next-sctn.png');




/* ****** ****** ****** ****** ****** ****** ****** ****** 
                        DOM ELEMENTS                                   
   ****** ****** ****** ****** ****** ****** ****** ****** */


nav {
	height: auto;
  top: 0;
  position: fixed;
  z-index: 2;

  #div-nav-icon {
    position: fixed;
    z-index: 5;
    background-image: $nav_icon_background_image;
    background-repeat: no-repeat;
  }
  /* Formats a <div> element which serves as the menu 'button'. */
  
  .nav-click-closed {
    position: fixed !important;
  }
  /* Sets a class which is used to alter the 'click-state' of the side panel  
   * which contains the menu options which slides 'out' of the left of the page. 
   * This class sets the <nav> element to appear in a 'fixed' location 
   * in the browser window.
   */

  .nav-click-open {
    position: absolute !important;
  }
  /* Sets a class which is used to alter the 'click-state' of the side panel
   * which contains the menu options which slides out of the left of the page.
   * This class sets the <nav> element to appear in a location that is 
   * determined by the CSS properties and values set by 'nav.js'. 
   */

  #div-nav-options {
    height: inherit;
    display: none;
    position: fixed;
    opacity: 0;
    z-index: 4;

    a {
      display: block;
      font-family: $nav_options_a_font;
      background-color: $nav_options_a_background_color;
      color: $nav_options_a_font_color;
    }
    /* Formats the <a> elements which serve as menu options in the inter-sectional 
     * menu.
     */
    
    .nav-option-base {
      background-color: $nav_options_a_background_color !important;
      color: $nav_options_a_font_color !important;
    }
    /* Sets a class which is used to alter the 'click-state' of a menu option 
     * which is contained in the navigation panel.
     * This class represents the 'base' click state.
     */
    
    .nav-option-hover {
      background-color: $nav_options_a_hover_background_color !important;
      color: $nav_options_a_font_color !important;
    }
    /* Sets a class which is used to alter the 'click-state' of a menu option 
     * which is contained in the navigation panel.
     * This class represents the 'hover' click state.
     */
    
    .nav-option-click {
      background-color: $nav_options_a_click_background_color !important;
      color: $nav_options_a_background_color !important;
    }
    /* Sets a class which is used to alter the 'click-state' of a menu option 
     * which is contained in the navigation panel.
     * This class represents the 'click' click state.
     */
  }
  /* Formats a <div> element which holds of the individual menu options in the 
   * inter-sectional menu panel.
   */

  .nav-options-base {
    display: none;
    opacity: 0;
  }
  /* Sets a class which is used to alter the 'click-state' of the collection of menu options 
   * which is contained in the navigation panel.
   * This click-state is the base state.
   */
  
  .nav-options-click {
    display: block !important;
    opacity: 1 !important;
  }
  /* Sets a class which is used to alter the 'click-state' of the collection of menu options  
   * which is contained in the navigation panel.
   * This state is activated once the navigation panel has been activated.
   */

  #div-nav-background {
    position: fixed;
    left: -20.45em;
    background-color: $nav_background_color; 

    #div-nav-border {
      width: 20.45em;
      height: 6.25em;
      position: fixed;
      left: -20.45em;
      z-index: 3;
      background-color: $nav_border_color;
    }
    /* Formats a <div> element which appears at the top of the inter-sectional navigation 
     * menu. 
     */
  }  
}
/* Formats the <nav> element which contains the inter-sectional navigation. */

#previous-section,
#next-section {
	position: fixed;
	z-index: 5;
	background-image: $nav_intrasection_background_image;
  background-repeat: no-repeat;  cursor: default;
}
/* Formats <div> elements which act as inter-sectional navigation which appears 
 * along the right side of the page.
 */

#previous-section {
  display: none;
  opacity: 0;
}
/* Formats a <div> element which moves the page upward through previously viewed 
 * sections. 
 */

#previous-section, 
#next-section, 
#previous-section:hover,
#next-section:hover {
  cursor: pointer;  
}
/* Sets the cursor state based upon the click-state of the <div> elements, 
 * '#previous-section' and '#next-section'. 
 */

#previous-section > span,
#next-section > span {
	display: block;
	font-family: $nav_options_a_font;
	color: $nav_options_a_font_color;	
	text-align: center;
	letter-spacing: 1px;
}
/* Formats the text descriptions of the inter-sectional navigation 
 * which appears on the right of the page.
 */

.div-nav-section {
	position: absolute;
	opacity: 0;
}
/* Formats a <div> element which contains the intra-sectional navigation 
 * which appears near the bottom of the pages within 'SECTION #3' and 'SECTION #4' 
 */
 
.div-nav-section > div {
	height: inherit;
	margin: 0 auto;
}
/* Formats the <div> element which serves as a container for the <div> and <span> 
 * elements which make up the inter-sectional navigation for 'SECTION #3' 
 * and 'SECTION #4'.
 */

.div-nav-section > div > span {
	display: block;
	position: relative;
	margin: 0 auto;
	color: $nav_options_a_font_color;
	cursor: auto;	
} 
/* Formats the <span> element which serves as the menu-button for the intra-sectional 
 * navigation for 'SECTION #3' and 'SECTION #4'. 
 */

.div-nav-section > div > span:hover {
  cursor: pointer;
}
/* Sets the cursor to a 'pointer' when the user hovers over the <span> element 
 * which serves as the menu-button for the intra-sectional navigation. 
 */

#div-nav-section-3 > div > span {
	background-image: url('/assets/img/nav/sctn_nav/sctn_3.png');
}
/* Formats the background-image of the <span> element which serves as the 
 * menu-button for the intra-sectional navigation for 'SECTION #3'.
 */

#div-nav-section-4 > div > span {
	background-image: url('/assets/img/nav/sctn_nav/sctn_4.png');
}
/* Formats the background-image of the <span> element which serves as the 
 * menu-button for the intra-sectional navigation for 'SECTION #4'.
 */

.div-nav-section > div > span.base-sctn_nav {
	background-position: 0px 0px;
	cursor: default;
	opacity: 1;
}
/* Formats the click-state for the <span> element which serves as the menu-button 
 * for the intra-sectional navigation.
 * This is the base click state.
 */

.div-nav-section > div > span.hover-sctn_nav {
	background-position: 0px -35px;
	cursor: pointer;
	opacity: 1;
}
/* Formats the click-state for the <span> element which serves as the menu-button 
 * for the intra-sectional navigation.
 * This is the hover click state.
 */

.div-nav-section > div > span.active-sctn_nav {
	background-position: 0px -70px;
	cursor: pointer;
	opacity: 1;
}
/* Formats the click-state for the <span> element which serves as the menu-button 
 * for the intra-sectional navigation.
 * This is the active click state.
 */

.div-nav-section > div > span.click-sctn_nav {
	background-position: 0px -105px;
	cursor: pointer;
	opacity: 1;
}
/* Formats the click-state for the <span> element which serves as the menu-button 
 * for the intra-sectional navigation.
 * This is the click state which is set once the menu-button has been clicked.
 */

.div-nav-section > div > div {
	width: 46.25em;
	height: 2.19em;
	margin: 0 auto;
	position: absolute;
	display: none;
}
/* Formats the <div> element which contains the <a> elements which serve as 
 * menu-options of the intra-sectional navigation.
 */

.div-nav-section > div > div > a {
	width: 6.56em;
	height: 1.38em;
	display: block;
	float: left;
	margin: 0 0.94em;
	padding: 0.19em 0 0.38em 0;
	background-color: #000;
	border: 2px solid #222;
	font: 400 1.25em "Franklin Gothic Medium", sans-serif;
	color: #fff;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	cursor: pointer; 
}
/* Formats the <a> elements which serve as menu-options of the intra-sectional navigation. */

.div-nav-section > div > div a:hover {
	background-color: #333;
}
/* Formats the click-state for the <a> elements which serves as menu-options
 * for the intra-sectional navigation.
 * This is the hover click state.
 */


/* ****** ****** ****** ****** ****** ****** ****** ****** 
                         BREAKPOINTS                                   
   ****** ****** ****** ****** ****** ****** ****** ****** */


   
/* ****** DESKTOP - 1366px WIDE ****** */

@media screen and (min-width: 1281px) and (max-height: 1366px)  {
  nav {
    #div-nav-icon {
      width: 3.13rem; // 50px
      height: 3.13rem; // 50px
      top: 1.56rem; // 25px
      left: 1.56rem; // 25px
    }
  
    .nav-icon-base {
      background-position: 0 0;
    }

    .nav-icon-base, 
    .nav-icon-hover, 
    .nav-icon-click-1, 
    .nav-icon-click-2, 
    #div-nav-options a, 
    .nav-option-base, 
    .nav-option-hover {
      cursor: pointer;
    }

    .nav-icon-base {
      background-position: 0 0;
    }
    /* Sets a class which is used to alter the 'click-state' of the menu icon 
     * appears in the upper left of the page. 
     * This is the default, 'base', click state.
     */
    
    .nav-icon-hover {
      background-position: 0 -50px; 
    }
    /* Sets a class which is used to alter the 'click-state' of the menu icon 
     * appears in the upper left of the page. 
     * This is the mouseover, or 'hover', click state.
     */
    
    .nav-icon-click-1 {
      background-position: 0 -100px;
    }
    /* Sets a class which is used to alter the 'click-state' of the menu icon 
     * appears in the upper left of the page. 
     * This is a 'click' state that is only meant to be visible for the duration 
     * of the clicking of the mouse.
     */
    
    .nav-icon-click-2 {
      background-position: 0 -150px;
    }
    /* Sets a class which is used to alter the 'click-state' of the menu icon 
     * appears in the upper left of the page. 
     * This is the state which appears when the navigation panel is open. 
     */

     #div-nav-options {
      width: 17.25rem; // 276px
      top: 6.56rem; // 105px
      left: 1.56rem; // 25px

      a {
        width: 12.4em; // 198px
        height: 2.35em; // 38px
        margin: 1em; // 16rem
        padding: 1em; // 16rem
        font-size: $nav_options_font_size;
      }
    }

    #div-nav-background {
      width: 20.45rem; // 327px
      height: 100%;
      left: -20.45rem; // -327px
    }

    #div-nav-border {
      width: 20.45rem; // 327px
      height: 6.25rem; // 100px
      left: -20.45rem; // 327px
    }
  }

  #previous-section,
  #next-section {
    width: 12.5rem; // 20px
    height: 3.75rem; // 60px
    right: 33.8rem; // 541px
    bottom: 1.56rem; // 25px
    z-index: 5;
    background-position: 0 -209px;
  }

  #previous-section {
    top: 1.06em; // 17px
    padding-top: 1.88em; // 30px
    background-position: 0 0;
  }
  /* Formats a <div> element which moves the page upward through previously viewed 
  * sections. 
  */

  #next-section {
    background-position: 0px -209px;
  }
  /* Formats a <div> element which moves the page upward through yet-to-be-viewed 
  * sections. 
  */
  
  #previous-section:hover {
    background-position: 0px -111px !important;
  }
  /* More formatting for the cursor state based upon the click-state 
   * of the <div> element, '#previous-section'. 
   */
  
  #next-section:hover {
    background-position: 0px -235px !important;
  }
  /* More formatting for the cursor state based upon the click-state 
   * of the <div> element, '#next-section'. 
   */

  #previous-section > span,
  #next-section > span {
    width: 11.25em; // 180px
    height: 2.5em; // 40px
    margin: 0 auto 50px auto;
    font-size: 0.8em; // 9pt
    line-height: 1.3;
  }
  /* Formats the text descriptions of the inter-sectional navigation 
  * which appears on the right of the page.
  */
  
  .div-nav-section {
    width: 61.25em; // 980px
    height: 8.44em; // 135px
    top: 39.38em; // 630px

    div {
      width: 46.25em; // 740px

      .div-nav-section > div > span {
        width: 9.38em; // 150px
        height: 2.19em; // 35px
        margin: 0 auto;
      } 
      
    }

    
  }
  
}

@media screen and (width: 980px) {
  /* This CSS breakpoint affects browsers which have a width of 980px. This breakpoint is optimized to fit iPhones. */

  nav, 
  #div-nav-background, 
  #div-nav-border, 
  #div-nav-options {
	  width: 61.25em;
    height: 108.75em;
    left: -61.25em;
    display: none;
  }
  
  #div-nav-border {
    height: 12.25em;
  }
  
  #div-nav-icon {
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
    background-image: url('/assets/img/nav/nav_mobile.png');
    opacity: 0;
  }
  
  #div-nav-icon {
    background-position: 0 0;
  }

  .nav-hover {
    background-position: 0 -100px;
  }

  .nav-click_1 {
    background-position: 0 -200px;
  }

  .nav-click_2 {
    background-position: 0 -300px;
  }
  
  #div-nav-options {
	  top: 12em;
  }  
  
  #div-nav-options > a {
    margin: 0.9em auto;
    font-size: 2.5em;  
  }
  
  #previous-section, 
  #next-section {
    width: 22.2em;
    height: 10em;
    right: 19em;
    background-image: url('/assets/img/nav/next/resp/next-sctn.png');
  }
  
  #next-section { 
    bottom: 38em;
    background-position: 0px -310px
  }
  
  #previous-section:hover {
    background-position: 0px 0px;
  }

  #next-section:hover {
    background-position: 0px -310px;
  }

  #previous-section > span,
  #next-section > span {
    width: 6.8em;
    height: 6.56em;
    margin: 0 auto;
    font-size: 1.8em;
  }
  
  .div-nav-section {
    width: 61.2em !important;
    height: 4.38em !important; 
    top: 67em !important;
  }
  
  .div-nav-section > div {
	  width: 18.8em;
  }
  
  .div-nav-section > div > span {
    width: 18.8em;
    height: 4.38em;
  }
  
  #div-nav-section-3> div > span {
    background-color: #000;
    background-image: url('/assets/img/nav/sctn_nav/sctn_3-mble.png');
  }
  
  #div-nav-section-4 > div > span {
    background-color: #000;
    background-image: url('/assets/img/nav/sctn_nav/sctn_4-mble.png');
  }
  
  .div-nav-section > div > div {
    width: 18.8em;
    height: 27.19em;
    margin: 2em 0;
  }
  
  .div-nav-section > div > div > a {
    width: 9.3em;
    height: 1.5em;
    margin: 0.65em 0;
    padding: 0.5em 0 0.25em 0;
    font: 400 2em "Franklin Gothic Medium", sans-serif
  }
}

@media screen and (width: 980px) and (max-height: 1310px) {
  /* This CSS breakpoint affects browsers which have a width of 980px and a height less than 1310px. 
  * This breakpoint is optimized to fit the iPad. 
  */

  #div-nav-options > a {
    font-size: 1.85em;
  }
  
  #next-section {
    height: 10em;
    bottom: 11em;
    background-image: url('/assets/img/nav/next/resp/next-sctn.png');
    background-position: 0px -310px;
  }

  #next-section > span {
    width: 6.8em;
    height: 5.56em;
    margin: 0 auto;
  }

  .div-nav-section {
    top: 57em !important;
  }
  
  .div-nav-section > div {
    width: 61em !important;
  }

  .div-nav-section > div > div {
    width: 61em !important;
    height: 6.19em !important;
    margin: 0 !important;
  }

  .div-nav-section > div > div > a {
    width: 8em !important;
    height: 1.5em !important;
    margin: 0.65em 0 0.65em 1.2em !important;
    font: 400 1.6em "Franklin Gothic Medium", sans-serif !important;
  }
}

@media screen and (width: 1024px) and (max-height: 1510px) {
  /* This CSS breakpoint affects browsers which have a width of 1024px and a height less than 1510px. 
  * This breakpoint is optimized to fit the iPad Pro. 
  */

  nav, 
  #div-nav-options, 
  #div-nav-background, 
  #div-nav-border {
    width: 24.7em;
    left: -24.7em;
  }

  nav {
    height: 93.75em;
  }
  
  #div-nav-options > a {
    font-size: 1.5em;
  }

  #previous-section, 
  #next-section {
    width: 22.5em;
    right: 20.5em;
  }

  #previous-section > span, 
  #next-section > span {
    display: none;
  }

  #next-section {
    background-position: 0px -405px;
    bottom: 1em;
  }

  #previous-section:hover {
    background-position: 0px 0px !important;
  }

  #next-section:hover {
    background-position: 0px -405px !important;
  }

  .div-nav-section {
    width: 64em !important;
    top: 54em !important;
  }

  .div-nav-section > div {
    width: 43.25em !important;
  }

  .div-nav-section > div > div {
    height: 2.75em !important;
    margin-top: 1.5em !important;
  }
}

@media screen and (min-width: 1260px) {
  /* This CSS breakpoint affects browsers which have a width of at least 1260px. 
  * This breakpoint is optimized to fit resolutions of 1280x800. 
  */

  #previous-section {
    height: 4em;
    padding-top: 1.3em;
    background-position: 0px 0px;
  }

  #next-section {
    height: 5.3em !important;
    padding-top: 0 !important;
    background-position: 0px -145px !important;
  }

  #previous-section, 
  #next-section {
    width: 5em;
    padding-top: 1.3em;
    right: 1.56em;
    bottom: 1.56em;
    background-image: url('/assets/img/nav/next/next-sctn.png');
  }

  #previous-section > span, 
  #next-section > span {
    width: 5em;
    height: 3.12em;
  }
  
  .div-nav-section {
    width: 80em !important;
    height: 6.1em !important;
    top: 34.375em !important;
  }
  
  .div-nav-section > div {
    width: 49em !important;
  }
  
  .div-nav-section > div > div {
    width: 49.25em !important;
    height: 3.54em !important;
  }
  
  .div-nav-section > div > div > a {
    width: 7.56em !important;
    height: 1em !important;
    margin: 1em !important;
    padding: 0.27em 0 0.38em 0 !important;
  }
}

@media screen and (min-width: 1260px) and (min-height: 980) {
 /* This CSS breakpoint affects browsers which have a width more than 1260px and a height greater than 980px. 
  * This breakpoint is optimized to fit resolutions of 1280x1024.
  */

  nav {
    width: 32em;
    left: -32em;
  }
  
  #div-nav-background {
    width: 32em;
    left: -32em;
  }
  
  #div-nav-border {
    width: 32em;
    left: -32em;
  }
  
  #div-nav-options {
    width: 32em;
  }
  
  #div-nav-options > a {
    width: 8.61em;
    display: inline-table;
    font-size: 1.25em;
  };
}

@media screen and (min-width: 1340px) and (max-width: 1890px) {
  /* This CSS breakpoint affects browsers which have a width more than 1340px and a width less than 1890px. 
  * This breakpoint is optimized to fit resolutions of 1366x768px and 1600x900px.
  */

  nav {
    width: 39.1em;
    left: -39.1em;
  }

  #div-nav-background {
    width: 39.1em;
    left: -39.1em;
  }

  #div-nav-border {
    width: 39.1em;
    left: -39.1em;
  }
  
  #div-nav-options {
    width: 39.1em;
    left: -39.1em;
  }

  #div-nav-options > a {
    width: 11.6em;
    float: left;
  }
  
  .div-nav-section {
    width: 85.38em !important;
    top: 33em !important;
  }
}

@media screen and (min-width: 1910px) {
  /* This CSS breakpoint affects browsers which have a width more than 1910px.
   * This breakpoint is optimized to fit resolutions of 1920x1020px.
   */

  nav, 
  #div-nav-border,
  #div-nav-background, 
  #div-nav-options {
    width: 20.5em;
    left: -20.5em;
  }

  nav, 
  #div-nav-background {
    height: 67.5em;
  }

  #div-nav-options {
    height: initial;
  }

  #div-nav-options > a {
    width: 12.4em;
    height: 2.15em;
    margin: 0.75em;
  }

  .div-nav-section {
    width: 119em !important; 
    top: 42em !important;
  }
}